Repository xcat2/xcat-core, pull requests merged in 2018-12, with the labels that each got.

#5859 fix issue 5858 test cases failed due to the change of output of rbeacon
  xCAT-test/autotest/testcase/rbeacon/cases0
Labels: component:test, sprint3

#5865 support site.httpport in ubuntu diskless
  xCAT-server/share/xcat/netboot/ubuntu/genimage
Labels: sprint3

#5868 update install new kernel doc
  docs/source/guides/admin-guides/manage_clusters/common/deployment/install_new_kernel.rst
Labels: type:documentation

#5878 Merge master to 2.14 branch for 2.14.5 release(3)
  docs/source/conf.py
  docs/source/overview/xcat2_release.rst
  xCAT-test/autotest/testcase/xcat_inventory/cases.common
  xCAT-test/autotest/testcase/xcat_inventory/cases.credential
  xCAT-test/autotest/testcase/xcat_inventory/cases.diff
  xCAT-test/autotest/testcase/xcat_inventory/cases.environment
  xCAT-test/autotest/testcase/xcat_inventory/cases.include
  xCAT-test/autotest/testcase/xcat_inventory/cases.network
  xCAT-test/autotest/testcase/xcat_inventory/cases.nics
  xCAT-test/autotest/testcase/xcat_inventory/cases.node
  xCAT-test/autotest/testcase/xcat_inventory/cases.osimage
  xCAT-test/autotest/testcase/xcat_inventory/cases.osimage.import_from_osimage_dir
  xCAT-test/autotest/testcase/xcat_inventory/cases.osimage.validation
  xCAT-test/autotest/testcase/xcat_inventory/cases.passwd
  xCAT-test/autotest/testcase/xcat_inventory/cases.route
  xCAT-test/autotest/testcase/xcat_inventory/cases.site
  xCAT-test/autotest/testcase/xcat_inventory/cases.site.validation
  xCAT-test/autotest/testcase/xcat_inventory/diff/change_name.sh
  xCAT-test/autotest/testcase/xcat_inventory/diff/diff_source.result
  xCAT-test/autotest/testcase/xcat_inventory/templates/diff/change_name.sh
  xCAT-test/autotest/testcase/xcat_inventory/templates/diff/diff_source.result
  xCAT-test/autotest/testcase/xcat_inventory/templates/diff/xcat-inventory_diff_file1.json
  xCAT-test/autotest/testcase/xcat_inventory/templates/diff/xcat-inventory_diff_file2.json
  xCAT-test/autotest/testcase/xcat_inventory/templates/environment/test.environments.osimage.stanza
  xCAT-test/autotest/testcase/xcat_inventory/templates/imagedata/test_osimage/template.tmpl
Labels: component:packaging

#5880 Enhancements to synclist
  docs/source/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_synclist_file.rst
Labels: type:documentation

#5882 fix issue 5881: xcattest failed to add component directory name as default label
  xCAT-test/xcattest
Labels: component:test, sprint1

#5886 enhance test cases about http port test and offer a bundle for it
  xCAT-test/autotest/bundle/non_default_http_port_test.bundle
  xCAT-test/autotest/testcase/httpport/cases0
  xCAT-test/autotest/testcase/httpport/change_http_port.sh
Labels: component:test, sprint1

#5890 update case updatenode_without_options to verify bug 5142
  xCAT-test/autotest/bundle/rhels6.9_ppc64.bundle
  xCAT-test/autotest/bundle/rhels7.4_ppc64.bundle
  xCAT-test/autotest/bundle/rhels7.4_ppc64le.bundle
  xCAT-test/autotest/testcase/updatenode/cases0
Labels: component:test

#5892 mark site.installdir as obsoleted
  docs/source/guides/admin-guides/references/man5/site.5.rst
  perl-xCAT/xCAT/Schema.pm
Labels: type:documentation

#5855 fix rhels7.4 provision hang in anaconda with #4876
  xCAT-server/share/xcat/install/scripts/pre.rh.rhels7
Labels: component:os_provision

#5899 new index.html for home page
  docs/index.html
  docs/webcontent/assets/example_video.mp4
  docs/webcontent/assets/image.png
  docs/webcontent/assets/image_1.png
  docs/webcontent/assets/image_10.png
  docs/webcontent/assets/image_11.png
  docs/webcontent/assets/image_12.png
  docs/webcontent/assets/image_13.png
  docs/webcontent/assets/image_14.png
  docs/webcontent/assets/image_15.png
  docs/webcontent/assets/image_18.png
  docs/webcontent/assets/image_2.png
  docs/webcontent/assets/image_20.png
  docs/webcontent/assets/image_21.png
  docs/webcontent/assets/image_26.png
  docs/webcontent/assets/image_3.png
  docs/webcontent/assets/image_30.png
  docs/webcontent/assets/image_34.png
  docs/webcontent/assets/image_36.png
  docs/webcontent/assets/image_5.png
  docs/webcontent/assets/image_7.png
  docs/webcontent/assets/image_9.png
  docs/webcontent/css/gwdiframe_style.css
  docs/webcontent/css/gwdimage_style.css
  docs/webcontent/css/gwdpage_style.css
  docs/webcontent/css/gwdpagedeck_style.css
  docs/webcontent/css/gwdvideo_style.css
  docs/webcontent/js/googbase_min.js
  docs/webcontent/js/gwd_webcomponents_min.js
  docs/webcontent/js/gwdiframe_min.js
  docs/webcontent/js/gwdimage_min.js
  docs/webcontent/js/gwdpage_min.js
  docs/webcontent/js/gwdpagedeck_min.js
  docs/webcontent/js/gwdvideo_min.js
  docs/webcontent/js/jquery.min.js
Labels: sprint1

#5908 login for redfish support
  xCAT-openbmc-py/lib/python/agent/common/rest.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/redfish_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/base.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/redfish.py
Labels: component:redfish

#5907 lsdef man page improvements
  docs/source/guides/admin-guides/references/man1/lsdef.1.rst
  xCAT-client/pods/man1/lsdef.1.pod
Labels: type:documentation

#5915 add more test cases for inventory_ci label
  xCAT-test/autotest/testcase/xcat_inventory/cases.environment
  xCAT-test/autotest/testcase/xcat_inventory/cases.include
  xCAT-test/autotest/testcase/xcat_inventory/cases.node
  xCAT-test/autotest/testcase/xcat_inventory/cases.osimage
  xCAT-test/autotest/testcase/xcat_inventory/cases.osimage.import_from_osimage_dir
Labels: component:test

#5891 Add test case for issue 4138 : the node status cannot be updated on normal system reboot
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:test

#5898 Add test case for issue 3571, 4085 and 3927 for makenetworks,chdef and mkdef for networks.
  xCAT-test/autotest/testcase/chdef/cases0
  xCAT-test/autotest/testcase/makenetworks/cases0
  xCAT-test/autotest/testcase/mkdef/cases0
Labels: component:test

#5920 update case to be compatible with xcat inventory ci test
  xCAT-test/autotest/testcase/xcat_inventory/cases.osimage
Labels: component:test

#5925 add test cases for xcat-inventory backend
  xCAT-test/autotest/testcase/xcat_inventory/cases.backend
  xCAT-test/autotest/testcase/xcat_inventory/templates/inventory.cfg
  xCAT-test/autotest/testcase/xcat_inventory/templates/testcluster_backend/cluster.yaml
  xCAT-test/autotest/testcase/xcat_inventory/templates/testcluster_backend/credential/credential/definition.yaml
  xCAT-test/autotest/testcase/xcat_inventory/templates/testcluster_backend/osimage/osimage1/definition.yaml
  xCAT-test/autotest/testcase/xcat_inventory/templates/testcluster_backend/osimage/osimage2/definition.yaml
Labels: sprint1
