Repository xcat2/xcat-core, pull requests merged in 2018-04, with the labels that each got.

#5040 set rspconfig run in python default
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
Labels: component:openbmc

#5039 Add test cases for support diskless SN installation and python environment setup
  xCAT-test/autotest/testcase/installation/SN_diskless_setup_case
  xCAT-test/autotest/testcase/pythonsupport/cases0
Labels: component:automation

#5042 update paramiko dependency for xCAT-openbmc-py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-openbmc-py/xCAT-openbmc-py.spec
Labels: component:openbmc

#5043 when no server name infor with --verbose, but -…
  xCAT-client/bin/xcatclient
Labels: sprint2

#5038 Add performance tunning best practice in RTD
  docs/source/advanced/index.rst
  docs/source/advanced/performance_tuning/database_tuning.rst
  docs/source/advanced/performance_tuning/index.rst
  docs/source/advanced/performance_tuning/linux_os_tuning.rst
  docs/source/advanced/performance_tuning/xcatd_tuning.rst
Labels: sprint2

#5045 correct some typo
  xCAT-test/autotest/testcase/xcat-inventory/cases.osimage.validation
  xCAT-test/autotest/testcase/xcat-inventory/cases.site.validation
Labels: component:test

#5049 Fix bug of test case updatenode_syncfile_MERGE
  xCAT-test/autotest/testcase/updatenode/cases0
Labels: component:test

#5048 catch all type error for rspconfig options
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc

#5051 workaround python agent when /dev/log is not available
  xCAT-openbmc-py/lib/python/agent/common/utils.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
Labels: sprint2

#5052 fix issue 5047, modify url for rspconfig autoreboot
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc

#5044 ADD NODE name to the /opt/xcat/xcatinfo for statelite image
  xCAT-server/lib/xcat/plugins/statelite.pm
  xCAT/postscripts/xcatdsklspost
Labels: component:postscripts

#5058 Refine test cases based on new output
  xCAT-test/autotest/testcase/reventlog/cases0
  xCAT-test/autotest/testcase/rflash/rflash_openbmc.0
  xCAT-test/autotest/testcase/rspconfig/cases0
Labels: component:test, sprint2

#5062 Add postscript to enable CAPI mode for mlnxofed
  xCAT/postscripts/enablecapi
Labels: component:postscripts

#5069 Avoiding error log for `installmonitor` requesting during provisioning
  xCAT-server/sbin/xcatd
Labels: sprint2

#5070 Add more log for SN setup test cases
  xCAT-test/autotest/testcase/installation/SN_diskless_setup_case
  xCAT-test/autotest/testcase/installation/SN_setup_case
Labels: component:test, sprint2

#5072 fix bug of test case go_xcat_with_x
  xCAT-test/autotest/testcase/go-xcat/case1
Labels: component:test, sprint2

#5068 modify rflash args for docopt parse
  xCAT-openbmc-py/lib/python/agent/common/task.py
  xCAT-openbmc-py/lib/python/agent/common/utils.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_inventory.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc, sprint2

#5066 Show error msg when set hostname as IP address
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc, sprint2

#5075 delete password from log for runsqlcmd
  xCAT-server/sbin/runsqlcmd
Labels: component:obj_db_cmds

#5032 Updates to REST API documentation
  docs/source/advanced/restapi/restapi_setup/restapi_setup.rst
Labels: component:restapi, type:documentation

#5050 add xCAT REST API for nodels
  docs/source/advanced/restapi/restapi_resource/restapi_reference.rst
  xCAT-server/xCAT-wsapi/genrestapidoc.pm
  xCAT-server/xCAT-wsapi/xcatws.cgi
Labels: component:restapi

#5083 modify return code of rspconfig hostname error for perl code
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#5064 Print out error msg for xcatprobe switch_macmap command if switch passwordless is not enabled
  perl-xCAT/xCAT/MacMap.pm
Labels: component:xcatprobe

#5088 fix typo error of rspconfig powersupplyredundancy
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc

#5092 Merge master to 2.14 for automate regression test
  docs/source/advanced/restapi/restapi_resource/restapi_reference.rst
  perl-xCAT/xCAT/MacMap.pm
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-server/share/xcat/netboot/rh/dracut_033/patch/syslog/module-setup.sh
  xCAT-server/share/xcat/netboot/rh/dracut_033/patch/syslog/rsyslogd-start.sh
  xCAT-server/xCAT-wsapi/genrestapidoc.pm
  xCAT-server/xCAT-wsapi/xcatws.cgi
  xCAT-test/autotest/testcase/rspconfig/cases0
Labels: component:automation

#5089 fix issue args pass for rflash activate
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_flash.py
Labels: component:openbmc

#5078 REST API doc fixes and Python example
  docs/source/advanced/restapi/restapi_resource/restapi_reference.rst
  docs/source/advanced/restapi/restapi_usage/restapi_usage.rst
  xCAT-server/xCAT-wsapi/xcatws-test.py
  xCAT-server/xCAT-wsapi/xcatws.cgi
Labels: component:restapi

#5090 fix linux_diskless_kdump failure
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_nfs
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_ramdisk
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: sprint1

#5097 modify output format of rvitals leds
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_sensor.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#5095 Password change for xCAT REST API documentation update
  docs/source/advanced/restapi/restapi_setup/restapi_setup.rst
Labels: component:restapi, type:documentation

#5076 add rbeacon test cases
  xCAT-test/autotest/testcase/rbeacon/cases0
Labels: component:test

#5074 Change CUDA 9.2 installation document and example setup script for POWER 9
  docs/source/advanced/gpu/nvidia/osimage/rhels.rst
  xCAT/postscripts/cuda_power9_setup
Labels: component:gpu

#5099 Merge master to 2.14 for regression test.
  docs/source/advanced/gpu/nvidia/osimage/rhels.rst
  docs/source/advanced/restapi/restapi_resource/restapi_reference.rst
  docs/source/advanced/restapi/restapi_setup/restapi_setup.rst
  docs/source/advanced/restapi/restapi_usage/restapi_usage.rst
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_flash.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_sensor.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-server/xCAT-wsapi/xcatws-test.py
  xCAT-server/xCAT-wsapi/xcatws.cgi
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_nfs
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_ramdisk
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
  xCAT-test/autotest/testcase/rbeacon/cases0
  xCAT/postscripts/cuda_power9_setup
Labels: component:automation

#5079 Man page change for rvitals
  docs/source/guides/admin-guides/references/man1/rvitals.1.rst
  xCAT-client/pods/man1/rvitals.1.pod
Labels: type:documentation

#5013 Properly fix updatenode syncfiles
  xCAT-server/lib/xcat/plugins/updatenode.pm
  xCAT-server/lib/xcat/plugins/xdsh.pm
Labels: component:updatenode

#5103 fix typo error for rspconfig powersupplyredundancy
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
Labels: component:openbmc

#5104 update a light status in test case rbeacon_stat
  xCAT-test/autotest/testcase/rbeacon/cases0
Labels: component:test

#5105 Merge master to 2.14 for 2.14 release(1)
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/discovery_using_defined.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/discovery_using_dhcp.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/seq_discovery.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/switch_discovery.rst
  docs/source/guides/admin-guides/references/man1/rvitals.1.rst
  xCAT-client/pods/man1/rvitals.1.pod
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-server/lib/xcat/plugins/updatenode.pm
  xCAT-server/lib/xcat/plugins/xdsh.pm
  xCAT-test/autotest/testcase/rbeacon/cases0
Labels: component:automation

#5106 Adding new options overrides for nvidia
  xCAT/postscripts/cuda_power9_setup
Labels: component:gpu, component:postscripts

#5108 fix kdump auto test case failure
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#5109 Update release information for 2.14 release
  docs/source/conf.py
  docs/source/overview/xcat2_release.rst
Labels: type:documentation

#5110 Merge master to 2.14 for 2.14 release(2)
  docs/source/conf.py
  docs/source/overview/xcat2_release.rst
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
  xCAT/postscripts/cuda_power9_setup
Labels: component:automation

#5107 Add the mlnxofedinstall default parameters xcat recommended into mlnx diskless installation document
  docs/source/advanced/networks/infiniband/mlnxofed_ib_install_v2_diskless.rst
Labels: component:infiniband, type:documentation

#5093 Processor DD version check before firmware upload
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_flash.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#5116 Token expiration setting
  docs/source/advanced/restapi/restapi_usage/restapi_usage.rst
  docs/source/guides/admin-guides/references/man1/xcattest.1.rst
  docs/source/guides/admin-guides/references/man5/policy.5.rst
  docs/source/guides/admin-guides/references/man5/site.5.rst
  docs/source/guides/admin-guides/references/man5/token.5.rst
  docs/source/guides/admin-guides/references/man7/policy.7.rst
  perl-xCAT/xCAT/Schema.pm
  perl-xCAT/xCAT/Utils.pm
  xCAT-server/lib/perl/xCAT/xcatd.pm
  xCAT-server/sbin/xcatd
  xCAT-test/autotest/testcase/restapi/node/case0
  xCAT-test/autotest/testcase/restapi/node/cases0
  xCAT-test/pods/man1/xcattest.1.pod
  xCAT-test/restapitest
Labels: component:restapi

#5112 chdef print warning when postscript is already included in the 'xcatd…
  perl-xCAT/xCAT/DBobjUtils.pm
Labels: component:obj_db_cmds, sprint1

#5132 Fix issue 5111: REST API does not respect the "host" setting in "policy" table
  xCAT-server/lib/perl/xCAT/xcatd.pm
  xCAT-server/xCAT-wsapi/xcatws.cgi
Labels: component:restapi

#5133 Missing closing bracket
  xCAT-server/lib/perl/xCAT/xcatd.pm
Labels: component:restapi

#5128 modify bmcdiscover manpage for IP range
  docs/source/guides/admin-guides/references/man1/bmcdiscover.1.rst
  xCAT-client/pods/man1/bmcdiscover.1.pod
Labels: component:hw_control

#5129 Add mac info in ouput of bmcdiscover when no mtms
  xCAT-server/lib/xcat/plugins/bmcdiscover.pm
Labels: component:hw_control

#5136 update node status when enter shell/standby
  xCAT-genesis-scripts/usr/bin/doxcat
  xCAT-server/lib/xcat/plugins/destiny.pm
Labels: component:hw_control

#5123 add support for syncfiles with scp
  docs/source/guides/admin-guides/references/man1/updatenode.1.rst
  perl-xCAT/xCAT/DSHCLI.pm
  perl-xCAT/xCAT/SSH.pm
  perl-xCAT/xCAT/Usage.pm
  xCAT-client/bin/updatenode
  xCAT-client/pods/man1/updatenode.1.pod
  xCAT-server/lib/xcat/plugins/syncfiles.pm
  xCAT-server/lib/xcat/plugins/updatenode.pm
  xCAT-server/lib/xcat/plugins/xdsh.pm
  xCAT/postscripts/startsyncfiles
  xCAT/postscripts/startsyncfiles.awk
  xCAT/postscripts/syncfiles
Labels: component:file_sync
