Repository xcat2/xcat-core, pull requests merged in 2018-03, with the labels that each got.

#4859 modify usage and manpage for openbmc
  docs/source/guides/admin-guides/references/man1/rbeacon.1.rst
  docs/source/guides/admin-guides/references/man1/rsetboot.1.rst
  docs/source/guides/admin-guides/references/man1/rspconfig.1.rst
  perl-xCAT/xCAT/Usage.pm
  xCAT-client/pods/man1/rbeacon.1.pod
  xCAT-client/pods/man1/rsetboot.1.pod
  xCAT-client/pods/man1/rspconfig.1.pod
Labels: component:openbmc, type:documentation

#4863 Failed to discover nodes as the discovery method is set to undef by wrong
  xCAT-genesis-scripts/usr/bin/dodiscovery
  xCAT-genesis-scripts/usr/bin/minixcatd.awk
  xCAT-server/lib/xcat/plugins/aaadiscovery.pm
  xCAT-server/lib/xcat/plugins/nodediscover.pm
  xCAT-server/lib/xcat/plugins/switch.pm
  xCAT-server/lib/xcat/plugins/zvmdiscovery.pm
Labels: component:discovery

#4847 rspconfig gard&admin_passwd&ntpservers in python
  xCAT-openbmc-py/lib/python/agent/hwctl/bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc, sprint2

#4842 Make reventlog resolved=LED case insensitive
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#4873 Enhance rspconfig sshcfg to use paramiko directly
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
Labels: component:openbmc

#4871 [OpenBMC] The return code on error should be 1 instead of 0
  xCAT-openbmc-py/lib/python/agent/common/utils.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_beacon.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_eventlog.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_inventory.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_sensor.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_setboot.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/server.py
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
Labels: component:openbmc, sprint2

#4866 Better Python login action ConnectionError exception handling
  xCAT-openbmc-py/lib/python/agent/common/exceptions.py
  xCAT-openbmc-py/lib/python/agent/common/rest.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
Labels: component:openbmc

#4870 Add makegocons -C|--cleanup to remove entries that do not exist
  docs/source/guides/admin-guides/references/man1/rmdef.1.rst
  docs/source/guides/admin-guides/references/man8/makegocons.8.rst
  xCAT-client/pods/man1/rmdef.1.pod
  xCAT-client/pods/man8/makegocons.8.pod
  xCAT-server/lib/perl/xCAT/Goconserver.pm
  xCAT-server/lib/xcat/plugins/DBobjectdefs.pm
  xCAT-server/lib/xcat/plugins/goconserver.pm
Labels: component:goconserver

#4878 For ppc64le platforms, create a dependency to install xCAT-openbmc-py for 2.13.11
  xCAT/xCAT.spec
  xCATsn/xCATsn.spec
Labels: component:openbmc

#4845 fixes to default stanza handling
  perl-xCAT/xCAT/DBobjUtils.pm
Labels: component:obj_db_cmds

#4882 Remove the spaces at the end for `makegocons -q`
  xCAT-server/lib/perl/xCAT/Goconserver.pm
Labels: component:goconserver

#4883 Fix the CI problem in github issue #4881
  xCAT-test/autotest/testcase/xcatstanzafile/cases0
Labels: component:test, sprint2

#4879 Control openbmc Perl/Python commands with site attribute
  perl-xCAT/xCAT/Utils.pm
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4881 report clear error message when lacking python dependency.
  xCAT-openbmc-py/lib/python/agent/xcatagent/server.py
Labels: component:openbmc

#4887 Improve the error message when python dependencies are not met
  xCAT-openbmc-py/lib/python/agent/xcatagent/server.py
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
Labels: component:openbmc

#4886 OpenBMC commands default to Python
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4872 Add more print statement for config switches scripts
  docs/source/advanced/networks/switchdiscover/switch_based_switch_discovery.rst
  xCAT-server/lib/xcat/plugins/switchdiscover.pm
  xCAT-server/share/xcat/scripts/configBNT
  xCAT-server/share/xcat/scripts/configMellanox
  xCAT-server/share/xcat/scripts/configonie
Labels: component:discovery, type:usability

#4551 Use all name servers from site.nameservers in mkresolvconf
  xCAT/postscripts/mkresolvconf
Labels: component:network

#4891 clear cache for IP change case in node discovery(#4890)
  perl-xCAT/xCAT/NetworkUtils.pm
  xCAT-server/lib/xcat/plugins/aaadiscovery.pm
Labels: priority:high

#4888 return code on error should be 1 instead of 0 ---rpower
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#4893 Merge master to 2.13 for 2.13.11 release(2)
  docs/source/advanced/networks/switchdiscover/switch_based_switch_discovery.rst
  perl-xCAT/xCAT/NetworkUtils.pm
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/server.py
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
  xCAT-server/lib/xcat/plugins/aaadiscovery.pm
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
  xCAT-server/lib/xcat/plugins/switchdiscover.pm
  xCAT-server/share/xcat/scripts/configBNT
  xCAT-server/share/xcat/scripts/configMellanox
  xCAT-server/share/xcat/scripts/configonie
  xCAT/postscripts/mkresolvconf
Labels: component:packaging

#4895 Update release info for 2.13.11 release
  README.rst
  docs/source/conf.py
  docs/source/overview/xcat2_release.rst
Labels: type:documentation

#4897 Add test case for setting up env to support python by default
  xCAT-test/autotest/testcase/pythonsupport/cases0
Labels: component:test

#4874 Clean up of the kdump documentation
  docs/source/guides/admin-guides/manage_clusters/common/deployment/enable_kdump.rst
Labels: type:documentation

#4900 delete XCAT_OPENBMC_DEVEL from perl rflash -d
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: type:feature

#4901 Refine openbmc python support error message, and information about switch to perl
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
Labels: component:openbmc

#4902 Merge master to 2.13 branch for 2.13.11 release(3)
  README.rst
  docs/source/conf.py
  docs/source/guides/admin-guides/manage_clusters/common/deployment/enable_kdump.rst
  docs/source/overview/xcat2_release.rst
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-test/autotest/testcase/pythonsupport/cases0
Labels: component:packaging

#4904 Add libnl3 to ib.rhels7.ppc64le.pkglist
  xCAT-server/share/xcat/ib/netboot/rh/ib.rhels7.ppc64le.pkglist
Labels: component:infiniband, sprint1

#4907 Handle the Python dependencies to xCAT-openbmc-py using EPEL/EXTRA/FC28 RPMs
  docs/source/references/coral/cluster_mgmt/index.rst
  docs/source/references/coral/cluster_mgmt/scalability/index.rst
  docs/source/references/coral/cluster_mgmt/scalability/python/index.rst
  docs/source/references/coral/cluster_mgmt/scalability/python/install/disable.rst
  docs/source/references/coral/cluster_mgmt/scalability/python/install/index.rst
  docs/source/references/coral/cluster_mgmt/scalability/python/install/pip.rst
  docs/source/references/coral/cluster_mgmt/scalability/python/install/rpm.rst
  docs/source/references/coral/cluster_mgmt/scalability/python/performance.rst
  xCAT-openbmc-py/xCAT-openbmc-py.spec
  xCAT/xCAT.spec
  xCATsn/xCATsn.spec
Labels: component:openbmc, type:documentation

#4910 remove the dependency, Load SOAP module dynamically
  perl-xCAT/xCAT/vboxService.pm
  xCAT-server/lib/xcat/plugins/vbox.pm
Labels: component:packaging

#4911 Modify all full width colon in test case
  xCAT-test/autotest/testcase/mkdef/cases0
  xCAT-test/autotest/testcase/rmdef/cases0
Labels: component:test

#4896 Add doc to enable goconserver by default
  docs/source/advanced/cluster_maintenance/compute_node/changing_hostname_ip.rst
  docs/source/advanced/cluster_maintenance/mgmt_node/changing_hostname_ip.rst
  docs/source/advanced/goconserver/configuration.rst
  docs/source/advanced/goconserver/index.rst
  docs/source/advanced/goconserver/quickstart.rst
  docs/source/advanced/goconserver/rest.rst
  docs/source/advanced/index.rst
  docs/source/guides/admin-guides/manage_clusters/common/kvm/manage_vm.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/discovery_using_defined.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/discovery_using_dhcp.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/pbmc_discovery.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/discovery/pbmc_discovery_with_bmcdiscover.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/basic/rcons.rst
Labels: component:goconserver, type:documentation

#4912 When xCAT-openbmc-py is not installed on Service Node, log does not help describe the problem
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4543 Add section for OpenBMC rflash in admin-guide
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/index.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/rflash/index.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/rflash/ipmi.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/rflash/openbmc/index.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/rflash/openbmc/manually.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/rflash/openbmc/openbmc_common.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/rflash/openbmc/unattended.rst
  docs/source/references/coral/cluster_mgmt/firmware/index.rst
  docs/source/references/coral/cluster_mgmt/firmware/openbmc.rst
  docs/source/references/coral/cluster_mgmt/firmware/openbmc/index.rst
  docs/source/references/coral/cluster_mgmt/firmware/openbmc/manually.rst
  docs/source/references/coral/cluster_mgmt/firmware/openbmc/unattended.rst
Labels: type:documentation

#4914 add usercase for xcat-inventory
  docs/source/advanced/index.rst
  docs/source/advanced/xcat-inventory/define_create_cluster.rst
  docs/source/advanced/xcat-inventory/index.rst
  docs/source/advanced/xcat-inventory/version_control_inventory.rst
Labels: type:documentation

#4915 Not start agent when no valid nodes
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4919 Add performance graph for Python/Perl comparism, for "rpower <> state" into documentation
  docs/source/references/coral/cluster_mgmt/scalability/python/images/rpower_state.png
  docs/source/references/coral/cluster_mgmt/scalability/python/performance.rst
Labels: component:openbmc, type:documentation

#4924 fix issue: genimage tries direct DB access instead of via xCATd #4385
  xCAT-client/bin/genimage
Labels: component:os_provision

#4928 add template for openbmc controlled Power LE server
  xCAT/templates/objects/node/ppc64le-ipmi.stanza
  xCAT/templates/objects/node/ppc64le-openbmc.stanza
Labels: component:obj_db_cmds

#4927 enhance mlnxofed_ib_install.v2 return 1 when service openibd restart …
  xCAT-server/share/xcat/ib/scripts/Mellanox/mlnxofed_ib_install.v2
Labels: component:infiniband

#4921 Support mutiple openbmc commands in the same time
  xCAT-openbmc-py/lib/python/agent/agent.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/server.py
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
Labels: sprint1

#4931 enhance invalid node name error msg
  xCAT-server/lib/xcat/plugins/DBobjectdefs.pm
Labels: component:obj_db_cmds

#4939 Display Perl/Python for OpenBMC commands with -V
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4941 Adding more OpenBMC Unit Testing test cases to quickly test success case
  xCAT-test/autotest/testcase/UT_openbmc/rflash_cases0
  xCAT-test/autotest/testcase/UT_openbmc/supported_commands_case0
Labels: component:openbmc, component:test

#4945 disable group range for mkdef
  xCAT-server/lib/xcat/plugins/DBobjectdefs.pm
Labels: component:obj_db_cmds

#4944 fix issue 4856: rewrite parse_args for rspconfig
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4932 fix issue If multiple IP addresses used in xcatmaster field, updatenode will not work leaving node in bad state #3688
  perl-xCAT/xCAT/InstUtils.pm
  xCAT-server/lib/perl/xCAT/Postage.pm
  xCAT-server/lib/xcat/plugins/updatenode.pm
Labels: component:updatenode

#4884 rspconfig set ip/netmask/gateway/vlan in python
  xCAT-openbmc-py/lib/python/agent/common/utils.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc, sprint1

#4957 record error response even debugmode is 0
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc, sprint1

#4965 fix a syntax issue for perl v5.10.x
  xCAT-server/lib/xcat/plugins/updatenode.pm
Labels: component:updatenode

#4967 fix issue chroot, rpm -qa error: Failed to initialize NSS library #4959
  xCAT-server/share/xcat/netboot/rh/genimage
Labels: component:os_provision

#4949 Enhance rpower bmcreboot, clear dumps if reboot to new firmware
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc, sprint1

#4963 Refine test case xcatconfig_c
  xCAT-test/autotest/testcase/xcatconfig/case0
Labels: component:test, sprint1

#4960 OpenBMC rbeacon stat support in Python
  docs/source/guides/admin-guides/references/man1/rbeacon.1.rst
  perl-xCAT/xCAT/Usage.pm
  xCAT-client/pods/man1/rbeacon.1.pod
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_sensor.py
  xCAT-openbmc-py/lib/python/agent/hwctl/sensor.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4966 Fix command error in gocons caused by the env variable
  xCAT-server/lib/perl/xCAT/Goconserver.pm
Labels: component:goconserver

#4943 Change Milestone or Labels missing from error to warning in CI test
  .travis.yml
  travis.pl
Labels: component:CI

#4826 Add test cases for configuration management first version
  xCAT-test/autotest/testcase/xcat-inventory/cases.common
  xCAT-test/autotest/testcase/xcat-inventory/cases.node
  xCAT-test/autotest/testcase/xcat-inventory/cases.osimage
  xCAT-test/autotest/testcase/xcat-inventory/cases.site
  xCAT-test/xcattest
Labels: component:test

#4975 Fix the rcons Console not ready issue but the bmc is accessible in fact
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
Labels: component:console, component:hw_control

#4925 conserver message change
  xCAT-server/lib/xcat/plugins/conserver.pm
Labels: component:goconserver

#4971 Modify goconserver msg for SN
  perl-xCAT/xCAT/Client.pm
  perl-xCAT/xCAT/MsgUtils.pm
  xCAT-server/lib/perl/xCAT/Goconserver.pm
  xCAT-server/lib/xcat/plugins/goconserver.pm
Labels: component:goconserver

#4976 fix rflash -d hang when there is no firmaware tars in SN
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#4953 [OpenBMC] Do not allow firmware delete if firmware is active
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-test/autotest/testcase/UT_openbmc/rflash_cases0
Labels: component:openbmc

#4992 fix error 4989: The error message of bmcdiscover is disordered
  xCAT-server/lib/xcat/plugins/bmcdiscover.pm
Labels: component:hw_control

#4994 fix issue updatenode -P return nothing when xcatmaster not set
  xCAT-server/lib/xcat/plugins/updatenode.pm
Labels: component:updatenode

#4993 fix rspconfig issues API related
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#4988 Catch BMC status error from get status request
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc

#4997 OpenBMC rbeacon stat support in Perl
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#5000 show error msg for rpower bmcstate when username is wrong
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
Labels: component:openbmc

#4969 rflash in python for OpenBMC
  xCAT-openbmc-py/lib/python/agent/common/rest.py
  xCAT-openbmc-py/lib/python/agent/common/utils.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_flash.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_inventory.py
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/flash.py
  xCAT-openbmc-py/lib/python/agent/hwctl/inventory.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc_rest.py
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#5002 Add a test case for rvitals outputs format checking
  xCAT-test/autotest/testcase/rvitals/cases1
Labels: component:test, sprint1

#5001 Modify startup configuration for goconserver and conserver
  perl-xCAT/xCAT/MsgUtils.pm
  xCAT-server/lib/perl/xCAT/Goconserver.pm
  xCAT-server/lib/xcat/plugins/conserver.pm
  xCAT-server/lib/xcat/plugins/goconserver.pm
Labels: component:goconserver

#4964 add kdump test case
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#4877 OpenBMC reventlog "clear" and "resolved" in Python
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_eventlog.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-test/autotest/testcase/UT_openbmc/reventlog_resolved_cases0
Labels: component:openbmc

#5009 enhance error message for rflash
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#4968 unify chdef and mkdef some actions for node type
  xCAT-server/lib/xcat/plugins/DBobjectdefs.pm
Labels: component:obj_db_cmds

#5011 fix issue chroot, rpm -qa error: Failed to initialize NSS library #4959
  xCAT-server/share/xcat/netboot/rh/genimage
Labels: component:os_provision

#4974 xcatd failed to start in rhels7.5-snap2 diskless service node
  perl-xCAT/xCAT/MsgUtils.pm
Labels: component:xcatd

#5012 updatenode MERGE mode does not support update an existing entry
  xCAT-server/share/xcat/scripts/xdcpmerge.sh
Labels: component:updatenode, sprint2, type:bug

#5008 Fix bugs of go-xcat test cases,Modify go-xcat test cases #21
  xCAT-test/autotest/testcase/go-xcat/case1
Labels: type:bug

#5017 (#4973) add journal logs in xcatsnap for xcatd
  xCAT-server/sbin/xcatsnap
Labels: sprint2

#5014 fix issue 4983, get autoreboot info
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc

#5015 clear "name-IP" cache in `install monitor` process
  xCAT-server/sbin/xcatd
Labels: component:xcatd, sprint2

#4998 Better message for --recover option
  docs/source/guides/admin-guides/references/man1/rflash.1.rst
  xCAT-client/pods/man1/rflash.1.pod
  xCAT-server/lib/xcat/plugins/ipmi.pm
Labels: component:hw_control

#4990 NVIDIA CUDA driver installation document updating
  docs/source/advanced/gpu/nvidia/deploy_cuda_node.rst
  docs/source/advanced/gpu/nvidia/index.rst
  docs/source/advanced/gpu/nvidia/osimage/rhels.rst
  docs/source/advanced/gpu/nvidia/repo/rhels.rst
  docs/source/advanced/gpu/nvidia/update_nvidia_driver.rst
Labels: sprint1, type:documentation

#4979 CUDA 9 support on RHEL 7
  xCAT/postscripts/cuda_power9_setup
Labels: component:gpu, sprint1

#4995 Change xCAT default log settings
  xCAT/etc/rsyslog.d/xcat-compute.conf
Labels: sprint1

#5016 Add default logrotate configuration for gocons
  xCAT-server/debian/dirs
  xCAT-server/debian/install
  xCAT-server/debian/rules
  xCAT-server/lib/xcat/plugins/goconserver.pm
  xCAT-server/share/xcat/conf/goconslogrotate
  xCAT-server/xCAT-server.spec
Labels: component:goconserver

#4898 show node name with error msg for ipmi
  xCAT-server/lib/xcat/plugins/ipmi.pm
Labels: component:hw_control, sprint1

#4991 Accumulated go-xcat updates
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat, sprint2

#5022 modify login error msg for openbmc python
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc

#5027 OpenBMC reventlog flag verification
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
Labels: component:openbmc

#4980 Updates for CUDA 9.2 and RHEL 7.5 Alternate
  xCAT-test/autotest/testcase/cuda/rhel-cuda-diskfull-install.sh
  xCAT-test/autotest/testcase/cuda/rhel-cuda-diskless-install.sh
Labels: component:test, sprint1

#4903 Add ondiscover support for chain table
  xCAT-genesis-scripts/usr/bin/doxcat
  xCAT-server/lib/xcat/plugins/destiny.pm
Labels: component:coral, component:discovery, type:support

#4987 add testcase for osimage and site validation
  xCAT-test/autotest/testcase/xcat-inventory/cases.osimage.validation
  xCAT-test/autotest/testcase/xcat-inventory/cases.site.validation
  xCAT-test/autotest/testcase/xcat-inventory/templates/osimage.json
  xCAT-test/autotest/testcase/xcat-inventory/templates/osimage.yaml
  xCAT-test/autotest/testcase/xcat-inventory/templates/site.json
  xCAT-test/autotest/testcase/xcat-inventory/templates/site.yaml
  xCAT-test/autotest/testcase/xcat-inventory/validatehelper
Labels: component:test

#5018 Replace usage of PNOR with Host
  docs/source/guides/admin-guides/manage_clusters/ppc64le/management/advanced/rflash/openbmc/openbmc_common.rst
  docs/source/guides/admin-guides/references/man1/rflash.1.rst
  docs/source/guides/admin-guides/references/man1/rmdef.1.rst
  docs/source/guides/admin-guides/references/man7/group.7.rst
  docs/source/guides/admin-guides/references/man7/node.7.rst
  docs/source/guides/admin-guides/references/man7/pdu.7.rst
  docs/source/guides/admin-guides/references/man8/makegocons.8.rst
  docs/source/overview/xcat2_release.rst
  docs/source/references/coral/cluster_mgmt/firmware/ipmi.rst
  xCAT-client/pods/man1/rflash.1.pod
  xCAT-server/lib/xcat/plugins/ipmi.pm
  xCAT-server/lib/xcat/plugins/openbmc.pm
  xCAT-test/autotest/testcase/rflash/rflash_openbmc.0
Labels: type:documentation

#5036 enhance exlist without typo and duplicate lines
  xCAT-server/share/xcat/netboot/rh/compute.rhels7.ppc64.exlist
Labels: component:os_provision

#5037 Modify xcatws.cgi permission
  xCAT-server/xCAT-wsapi/xcatws.cgi
Labels: component:restapi

#5003 add xcat-inventory passwd network route validation testcase
  xCAT-test/autotest/testcase/xcat-inventory/cases.network
  xCAT-test/autotest/testcase/xcat-inventory/cases.passwd
  xCAT-test/autotest/testcase/xcat-inventory/cases.route
  xCAT-test/autotest/testcase/xcat-inventory/templates/network.json
  xCAT-test/autotest/testcase/xcat-inventory/templates/network.yaml
  xCAT-test/autotest/testcase/xcat-inventory/templates/passwd.json
  xCAT-test/autotest/testcase/xcat-inventory/templates/passwd.yaml
  xCAT-test/autotest/testcase/xcat-inventory/templates/route.json
  xCAT-test/autotest/testcase/xcat-inventory/templates/route.yaml
Labels: component:automation

#5030 add test cases for xcat-inventory validation -- node part
  xCAT-test/autotest/testcase/xcat-inventory/cases.node
  xCAT-test/autotest/testcase/xcat-inventory/templates/node.json
  xCAT-test/autotest/testcase/xcat-inventory/templates/node.yaml
Labels: component:test, sprint2
