Repository xcat2/xcat-core, pull requests merged in 2019-10, with the labels that each got.

#6433 OpenBMC fixes for OP940 changes
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#6434 OpenBMC rspconfig automated testcases
  xCAT-test/autotest/testcase/UT_openbmc/rspconfig_cases0
Labels: component:automation, component:openbmc, component:test, test:testcase_added

#6437 Revert "Remove kits from Ubuntu and go-xcat"
  docs/source/guides/admin-guides/references/man1/addkit.1.rst
  docs/source/guides/admin-guides/references/man1/addkitcomp.1.rst
  docs/source/guides/admin-guides/references/man1/buildkit.1.rst
  docs/source/guides/admin-guides/references/man1/chkkitcomp.1.rst
  docs/source/guides/admin-guides/references/man1/lskit.1.rst
  docs/source/guides/admin-guides/references/man1/lskitcomp.1.rst
  docs/source/guides/admin-guides/references/man1/lskitdeployparam.1.rst
  docs/source/guides/admin-guides/references/man1/rmkit.1.rst
  docs/source/guides/admin-guides/references/man1/rmkitcomp.1.rst
  xCAT-buildkit/bin/buildkit
  xCAT-buildkit/pods/man1/buildkit.1.pod
  xCAT-buildkit/xCAT-buildkit.spec
  xCAT-client/debian/xcat-client.links
  xCAT-client/pods/man1/addkit.1.pod
  xCAT-client/pods/man1/addkitcomp.1.pod
  xCAT-client/pods/man1/chkkitcomp.1.pod
  xCAT-client/pods/man1/lskit.1.pod
  xCAT-client/pods/man1/lskitcomp.1.pod
  xCAT-client/pods/man1/lskitdeployparam.1.pod
  xCAT-client/pods/man1/rmkit.1.pod
  xCAT-client/pods/man1/rmkitcomp.1.pod
  xCAT-client/xCAT-client.spec
  xCAT-server/share/xcat/tools/go-xcat
  xCAT/debian/control
  xCATsn/debian/control
Labels: component:kit

#6439 OpenBMC fixes for OP940 changes [Python]
  xCAT-openbmc-py/lib/python/agent/common/rest.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:hw_control, component:openbmc

#6442 Workflow Guide document fixes
  docs/source/guides/get-started/workflow_guide.rst
Labels: type:documentation

#6443 Add delay to nodeset testcase
  xCAT-test/autotest/testcase/nodeset/cases0
Labels: component:test

#6446 remove node definition from rscan
  xCAT-test/autotest/testcase/rscan/cases0
Labels: component:test

#6447 Clean genimage before kdump test
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6444 Insert devel into xcat-dep repo file
  builddep.sh
Labels: component:packaging

#6449 Undo ubuntu testcases
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
  xCAT-test/autotest/testcase/packimg/cases0
Labels: component:test

#6452 modify nodeset return code for hierarchy support
  xCAT-server/lib/xcat/plugins/rinstall.pm
Labels: component:os_provision

#6455 bmcsetup Other LAN and 802.3 LAN for Channel Medium Type
  xCAT-genesis-scripts/usr/bin/bmcsetup
Labels: component:firmware, component:openbmc

#6456 Add regression test tabdump debug for service node not removed
  xCAT-test/autotest/bundle/rhels_ppc_daily.bundle
  xCAT-test/autotest/testcase/tabdump/cases0
Labels: component:test

#6459 Doc fixes for osimage definition creation
  docs/source/guides/admin-guides/manage_clusters/common/deployment/create_img.rst
Labels: type:documentation

#6457 Better message for Ubuntu uninstall
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#6460 Add regression test tabdump debug for service node not removed 2
  xCAT-test/autotest/bundle/rhels_ppc_daily.bundle
Labels: component:test

#6436 Fix gmond
  xCAT-server/lib/xcat/monitoring/gangliamon.pm
  xCAT/postscripts/confGang
Labels: status:require-cla

#6461 [xcat_test] remove service node from servicenode table for rscan test cases
  xCAT-test/autotest/testcase/rscan/cases0
Labels: component:test

#6462 Add display statement to genesis testcase script
  xCAT-test/autotest/testcase/genesis/test.sh
Labels: component:test

#6451 bmcdiscover node name when serial or mtm and mac not available
  xCAT-server/lib/xcat/plugins/bmcdiscover.pm
Labels: component:discovery
