Repository xcat2/xcat-core, pull requests merged in 2019-05, with the labels that each got.

#6282 Support new PowerSupplyRedundancy endpoint
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc

#6277 Make rflash -c match output of hpm check
  xCAT-server/lib/xcat/plugins/ipmi.pm
Labels: component:firmware

#6281 xcatprobe xcatmn: Allow selinux permissive
  xCAT-probe/lib/perl/probe_utils.pm
  xCAT-probe/subcmds/xcatmn
Labels: component:xcatprobe

#6286 fix issue 6270, support new interface of powersupplyredundancy on python
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
Labels: component:openbmc

#6288 remove kit cases from bundle since it is not supported in the new os version
  xCAT-test/autotest/bundle/rhels_ppc_weekly.bundle
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
Labels: component:test

#6275 Fix dhcp.pm for grub2-http and grub2-tftp
  xCAT-server/lib/xcat/plugins/dhcp.pm
Labels: sprint2

#6274 Fix site.httpport support for grub2-http
  xCAT-server/lib/xcat/plugins/grub2.pm
Labels: sprint2

#6293 Add pkglist files for Ubuntu 18.04.2
  xCAT-server/share/xcat/netboot/ubuntu/compute.ubuntu18.04.2.ppc64el.pkglist
  xCAT-server/share/xcat/netboot/ubuntu/compute.ubuntu18.04.2.ppc64le.pkglist
  xCAT-server/share/xcat/netboot/ubuntu/compute.ubuntu18.04.2.x86_64.pkglist
Labels: sprint3

#6295 Add non zero return code to the error callback for copycds
  xCAT-server/lib/xcat/plugins/anaconda.pm
Labels: component:os_provision

#6299 extend nmcli autoconnect-retries and autoconnect-slaves to replace default value
  xCAT/postscripts/nicutils.sh
Labels: component:network

#6300 update bundle since rhels8 is initial supported from 2.15
  xCAT-test/autotest/bundle/rhels_ppc_weekly.bundle
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
Labels: component:test

#5927 update case lsvmkvmhost to check the correct output
  xCAT-test/autotest/testcase/lsvm/cases0
Labels: component:test

#6308 optimize confignetwork_2eth_bridge_br22_br33 test case
  xCAT-test/autotest/testcase/confignetwork/cases0
Labels: component:test

#6314 update case according to bug 6311
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6316 update to only support ubuntu16.04.5 x86 system
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6317 update test.sh to add network information
  xCAT-test/autotest/testcase/genesis/test.sh
Labels: component:test

#6321 fix confignetwork confignetwork_installnic_2eth_bridge_br22_br33 failure
  xCAT-test/autotest/testcase/confignetwork/cases0
  xCAT/postscripts/nicutils.sh
Labels: component:network

#6319 Update grub2-xcat requirement
  xCAT-server/xCAT-server.spec
Labels: sprint3

#6318 Update ubuntu packaging dependencies
  xCAT-server/debian/control
  xCAT/debian/control
  xCATsn/debian/control
Labels: sprint3

#6320 Link switchprobe file when building xcatprobe on Ubuntu
  xCAT-probe/debian/dirs
  xCAT-probe/debian/xcat-probe.links
Labels: component:xcatprobe

#6301 add more debug information in the case
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test

#6294 update to add more debug information in case rpower_wrongpasswd
  xCAT-test/autotest/testcase/rpower/rpower_wrongpasswd_test.sh
Labels: component:test

#6298 Add xcatprobe testcase
  travis.pl
  xCAT-test/autotest/testcase/probe/xcatproble_list
Labels: component:test, component:xcatprobe

#6324 Remove docker man pages
  docs/source/guides/admin-guides/references/man1/lsdocker.1.rst
  docs/source/guides/admin-guides/references/man1/mkdocker.1.rst
  docs/source/guides/admin-guides/references/man1/rflash.1.rst
  docs/source/guides/admin-guides/references/man1/rmdocker.1.rst
  docs/source/guides/admin-guides/references/man1/rpower.1.rst
  docs/source/guides/admin-guides/references/man5/site.5.rst
  xCAT-client/pods/man1/lsdocker.1.pod
  xCAT-client/pods/man1/mkdocker.1.pod
  xCAT-client/pods/man1/rmdocker.1.pod
  xCAT-client/pods/man1/rpower.1.pod
Labels: component:docker, type:documentation

#6340 Revise the test case for workaround github issue #6305 #6338
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
Labels: sprint3

#6344 refine test.sh to add more debug info
  xCAT-test/autotest/testcase/genesis/cases0
  xCAT-test/autotest/testcase/genesis/test.sh
Labels: component:test

#6272 Reconstruction of the osimage resources search policy
  xCAT-server/lib/perl/xCAT/SvrUtils.pm
Labels: sprint2
