Repository xcat2/xcat-core, pull requests merged in 2019-01, with the labels that each got.

#5917 add more lsvm cases
  xCAT-test/autotest/testcase/lsvm/cases0
Labels: component:test

#5918 Cumulative patches to make xCAT run on RHEL 8
  perl-xCAT/xCAT/data/discinfo.pm
  xCAT-server/lib/perl/xCAT/Template.pm
  xCAT-server/share/xcat/install/rh/compute.rhels8.tmpl
  xCAT-server/share/xcat/install/rh/service.rhels8.pkglist
  xCAT-server/share/xcat/install/rh/service.rhels8.tmpl
  xCAT-server/share/xcat/install/scripts/post.xcat.ng
  xCAT-server/share/xcat/install/scripts/pre.rh.rhels7
  xCAT-server/share/xcat/install/scripts/pre.rhels8
  xCAT-server/xCAT-server.spec
  xCAT/postscripts/xcatinstallpost
  xCAT/xCAT.spec
Labels: component:os_provision, component:packaging, sprint2

#5930 Make `makedhcp` working on RHEL 8 xCAT management node
  xCAT-server/lib/xcat/plugins/dhcp.pm
  xCAT-server/lib/xcat/plugins/networks.pm
Labels: sprint2

#5910 rpower for redfish support
  xCAT-openbmc-py/lib/python/agent/hwctl/executor/redfish_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/__init__.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_beacon.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_eventlog.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_flash.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_inventory.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_sensor.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_setboot.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish/__init__.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish/redfish_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/redfish.py
  xCAT-server/lib/perl/xCAT/AGENT.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
  xCAT-server/lib/xcat/plugins/redfish.pm
Labels: component:redfish

#5948 add test case for issue 3602: confignetwork cannot work when regular expression is used in nics table
  xCAT-test/autotest/testcase/confignetwork/cases1
Labels: component:test

#5952 revert PR Fix remoteshell compatibility with custom Match #5936
  xCAT/postscripts/remoteshell
Labels: component:postscripts

#5953 Merge master branch to RHEL 8 branch
  docs/source/advanced/gpu/nvidia/osimage/rhels.rst
  xCAT-openbmc-py/debian/dirs
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/__init__.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_beacon.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_eventlog.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_flash.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_inventory.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_sensor.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_setboot.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish/__init__.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish/redfish_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish/redfish_setboot.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/redfish.py
  xCAT-openbmc-py/xCAT-openbmc-py.spec
  xCAT-server/lib/perl/xCAT/AGENT.pm
  xCAT-server/lib/xcat/plugins/openbmc2.pm
  xCAT-server/lib/xcat/plugins/redfish.pm
  xCAT-test/autotest/testcase/confignetwork/cases1
  xCAT-test/autotest/testcase/xcat_inventory/cases.backend
  xCAT-test/autotest/testcase/xcatd/case0
Labels: sprint2

#5943 add case nodeset_prescripts for Failed to parse the prescripts without action defined
  xCAT-test/autotest/testcase/nodeset/cases2
Labels: component:test

#5949 Make genimage working on RHEL 8
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.ppc64.exlist
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.ppc64.pkglist
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.ppc64.postinstall
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.ppc64le.pkglist
Labels: sprint2

#5959 remove xcat release info comment line from inventory json files
  xCAT-test/autotest/testcase/xcat_inventory/templates/cluster_invdir/osimage/test_myimage/definition.json
  xCAT-test/autotest/testcase/xcat_inventory/templates/cluster_invdir/osimage/test_myimage2/definition.json
  xCAT-test/autotest/testcase/xcat_inventory/templates/environment/test.environments.osimage.update.json
  xCAT-test/autotest/testcase/xcat_inventory/templates/osimage.json
Labels: type:bug

#5956 Add test case for issue 4511 : rflash -d did not support relative paths
  xCAT-test/autotest/testcase/rflash/rflash_openbmc.0
Labels: component:test

#5940 Add retry mechanism into makedhcp_remote_network test case to avoid time issue
  xCAT-test/autotest/testcase/makedhcp/cases0
Labels: component:test

#5941 implement a script to achieve retry mechanism against rinstall
  xCAT-test/autotest/testcase/commoncmd/retry_install.sh
  xCAT-test/autotest/testcase/confignetwork/cases0
  xCAT-test/autotest/testcase/installation/SN_diskless_setup_case
  xCAT-test/autotest/testcase/installation/SN_setup_case
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_hierarchy
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_nfs
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_ramdisk
  xCAT-test/autotest/testcase/installation/ubuntu_full_installation_vm_docker
  xCAT-test/autotest/testcase/migration/redhat_migration
  xCAT-test/autotest/testcase/migration/sles_migration
  xCAT-test/autotest/testcase/migration/ubuntu_migration1_p8le
  xCAT-test/autotest/testcase/migration/ubuntu_migration1_vm
  xCAT-test/autotest/testcase/migration/ubuntu_migration2_p8le
  xCAT-test/autotest/testcase/migration/ubuntu_migration2_vm
  xCAT-test/autotest/testcase/packimg/cases0
  xCAT-test/autotest/testcase/runcmdinstaller/cases0
Labels: component:test

#5970 add dnsforwardmode for makedns
  docs/source/guides/admin-guides/references/man5/site.5.rst
  perl-xCAT/xCAT/Schema.pm
  xCAT-server/lib/xcat/plugins/ddns.pm
Labels: component:dns

#5977 refine cases to fix bug 5974,5975
  xCAT-test/autotest/bundle/rhels7.4_ppc64le.bundle
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_flat
  xCAT-test/autotest/testcase/runcmdinstaller/cases0
Labels: component:test

#5937 Remove xinetd related code to make tftp service work on RHEL 8.
  xCAT-server/lib/xcat/plugins/AAsn.pm
Labels: sprint2

#5950 Fix rsyslog.conf syntax error on RHEL 8
  xCAT/postscripts/syslog
Labels: sprint2

#5967 Revise openssl settings for RHEL 8
  xCAT-server/share/xcat/ca/openssl.cnf.tmpl
  xCAT-server/share/xcat/netboot/add-on/statelite/rc.localdisk
  xCAT-server/share/xcat/netboot/add-on/statelite/rc.statelite
  xCAT-server/share/xcat/netboot/add-on/statelite/rc.statelite.ppc.redhat
  xCAT/postscripts/getcredentials.awk
  xCAT/postscripts/getpostscript.awk
  xCAT/postscripts/startsyncfiles
  xCAT/postscripts/startsyncfiles.awk
Labels: sprint2

#5972 Tinker ospkgs for RHEL 8 support
  xCAT/postscripts/ospkgs
Labels: sprint2

#5983 Add test case for issue 3542 : to ensure that CSM required info is to ensure that CSM required info is not removed from /opt/xcat/xcatinfo
  xCAT-test/autotest/testcase/installation/SN_diskless_setup_case
  xCAT-test/autotest/testcase/installation/SN_setup_case
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_hierarchy
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
  xCAT-test/autotest/testcase/packimg/cases0
Labels: component:test

#5965 refine test cases which were designed in flat originally to support both flat and hierarchy
  xCAT-test/autotest/testcase/chtab/cases0
  xCAT-test/autotest/testcase/xdcp/cases1
  xCAT-test/autotest/testcase/xdsh/cases0
  xCAT-test/autotest/testcase/xdsh/cases1
Labels: component:test

#5986 Add test case for issue 2727 : run xCAT in XCATBYPASS mode and simply reload xCAT to check if there is any errors
  xCAT-test/autotest/testcase/xcatd/case0
Labels: component:test

#5928 Add a new case updatenode_syncfile_EXECUTEALWAYS_noderange to cover test for bug 5755
  xCAT-test/autotest/testcase/updatenode/cases0
Labels: component:test
