Repository xcat2/xcat-core, pull requests merged in 2019-06, with the labels that each got.

#6347 Cleanup and fix the testcase `nodeset_shell_incorrectmasterip`
  xCAT-test/autotest/testcase/genesis/test.sh
Labels: component:test

#6351 Add bzip2 to rhels8 pkglist
  xCAT-server/share/xcat/install/rh/compute.rhels8.pkglist
  xCAT-server/share/xcat/install/rh/service.rhels8.pkglist
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.ppc64le.pkglist
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.x86_64.pkglist
  xCAT-server/share/xcat/netboot/rh/service.rhels8.ppc64le.pkglist
  xCAT-server/share/xcat/netboot/rh/service.rhels8.x86_64.pkglist
Labels: component:automation, component:go-xcat, component:test

#6355 Add verification test case for copycds
  xCAT-test/autotest/testcase/copycds/cases0
  xCAT-test/autotest/testcase/copycds/copycds.sh
Labels: component:test, test:testcase_added

#6356 copycds_iso test case failed if os has multiple '.'
  xCAT-test/autotest/testcase/copycds/copycds.sh
Labels: component:test

#6354 Pick correct pkglist/tmpl files based on the osvers
  xCAT-server/lib/perl/xCAT/SvrUtils.pm
Labels: component:os_provision, component:xcatd, type:bug

#6359 Delay of 3 min after rflash -d BMC reboot
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:hw_control

#6360 Use . instead of source to source xcat.sh file
  docs/source/guides/admin-guides/references/man1/restartxcatd.1.rst
  xCAT-client/pods/man1/restartxcatd.1.pod
  xCAT-server/sbin/restartxcatd
Labels: component:xcatd

#6331 Improve rflash messages
  perl-xCAT/xCAT/PPCrflash.pm
Labels: component:firmware

#6328 update packimage test cases
  xCAT-test/autotest/testcase/packimg/cases0
Labels: component:test

#5637 Attempt to improve the documentataion for custom partitioning
  docs/source/guides/admin-guides/manage_clusters/common/deployment/cfg_partition.rst
Labels: type:documentation

#6365 fix weekly test cases failure
  xCAT-server/share/xcat/install/sles/compute.sles12.ppc64le.tmpl
  xCAT-test/autotest/testcase/bmcdiscover/cases0
Labels: component:automation, component:test
