Repository xcat2/xcat-core, pull requests merged in 2019-02, with the labels that each got.

#5993 Python example suggestions
  xCAT-server/xCAT-wsapi/xcatws-test.py
Labels: component:restapi, type:documentation

#5998 refine go-xcat test case to leverage local mirror
  xCAT-test/autotest/testcase/go_xcat/case0
  xCAT-test/autotest/testcase/go_xcat/case1
  xCAT-test/autotest/testcase/go_xcat/case2
  xCAT-test/autotest/testcase/go_xcat/case4
Labels: component:test

#5997 fix issue xdcp EXECUTE of .post script not working as expected #5987
  perl-xCAT/xCAT/DSHCLI.pm
Labels: component:file_sync

#6005 refine some test cases
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_postscripts_failed
  xCAT-test/autotest/testcase/xcatconfig/case0
Labels: component:test

#6000 update case xcatconfig_c to make it to run on hierarchy environment
  xCAT-test/autotest/testcase/xcatconfig/case0
Labels: component:test

#6008 add new bundles for daily and weekly regression
  xCAT-test/autotest/bundle/rhels_ppc_daily.bundle
  xCAT-test/autotest/bundle/rhels_ppc_weekly.bundle
  xCAT-test/autotest/bundle/rhels_ppcle_daily.bundle
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_daily.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
  xCAT-test/autotest/bundle/sles_ppc_daily.bundle
  xCAT-test/autotest/bundle/sles_ppc_weekly.bundle
  xCAT-test/autotest/bundle/sles_ppcle_daily.bundle
  xCAT-test/autotest/bundle/sles_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/sles_x86_daily.bundle
  xCAT-test/autotest/bundle/sles_x86_weekly.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_weekly.bundle
Labels: component:test, sprint3

#6009 refine test case makedhcp_remote_network and add stop label
  xCAT-test/autotest/testcase/makedhcp/cases0
Labels: component:test, sprint3

#6010 refine test case run_command_with_XCATBYPASS for task #603
  xCAT-test/autotest/testcase/xcatd/case0
Labels: component:test, sprint3

#6011 refine test case makehost_n_r for task #604
  xCAT-test/autotest/testcase/makehosts/cases0
Labels: component:test, sprint3

#6001 EXECUTE in sync list will not invoke post sync scripts if the script itself is updated
  perl-xCAT/xCAT/DSHCLI.pm
Labels: component:file_sync

#6018 fix issue PR #6001 resulted in test case updatenode_syncfile_EXECUTE failed #6016
  xCAT-test/autotest/testcase/updatenode/cases0
Labels: component:test

#6012 Synclist doc fixes
  docs/source/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_install.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_overview.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_periodically.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_synclist_file.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_updatenode.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_xdcp.rst
  docs/source/guides/admin-guides/references/man1/lsdef.1.rst
  docs/source/guides/admin-guides/references/man1/updatenode.1.rst
  docs/source/guides/admin-guides/references/man1/xdcp.1.rst
  xCAT-client/pods/man1/updatenode.1.pod
  xCAT-client/pods/man1/xdcp.1.pod
Labels: type:documentation

#6029 fix configeth does not reload new ifcfg-* for installnic when diskless/statelite node reboot
  xCAT/postscripts/configeth
Labels: component:network

#6030 modify enablesnmp postscript to show 'net' command
  xCAT/postscripts/enablesnmp
Labels: component:updatenode, type:support

#6037 refine makehost_n_r for task 604 again
  xCAT-test/autotest/testcase/makehosts/cases0
Labels: component:test, sprint3

#6036 refine sync file EXECUTE case for hierarchy
  xCAT-test/autotest/testcase/updatenode/cases0
Labels: component:test

#6020 refine some confignetwork test cases to avoid using the same bogus IP address
  xCAT-test/autotest/testcase/confignetwork/cases0
Labels: component:test
