Repository xcat2/xcat-core, pull requests merged in 2020-07, with the labels that each got.

#6754 Do not modify installnic's interface in enablekdump postscripts
  docs/source/guides/admin-guides/manage_clusters/common/deployment/enable_kdump.rst
  xCAT/postscripts/enablekdump
Labels: component:postscripts

#6755 Lost DNS after run confignetwork -s postscripts
  xCAT/postscripts/configeth
Labels: component:dns, component:postscripts

#6760 Enable clusterstatus xcatprobe on Perl 5.23
  xCAT-probe/subcmds/clusterstatus
  xCAT-probe/subcmds/code_template
  xCAT-server/share/xcat/tools/powervm/configvios
  xCAT-server/share/xcat/tools/xCATreg
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
  xCAT/postscripts/check_mlnx_firmware
  xCAT/postscripts/enablecapi
Labels: component:test, component:xcatprobe

#6763 geninitrd failed to load new driver rpm packages
  xCAT-server/lib/xcat/plugins/anaconda.pm
Labels: component:os_provision, component:xcatd, rh8

#6765 xCAT-probe rpm installation of switchprobe
  xCAT-probe/xCAT-probe.spec
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat, component:packaging, component:xcatprobe

#6772 Skip elilo if possible
  xCAT-server/lib/xcat/plugins/xnba.pm
Labels: component:os_provision, component:xcatd

#6775 [RH8.2] parse the rsyslog version output
  xCAT/postscripts/syslog
Labels: component:postscripts

#6778 Use xcat runcmd instead of system() call for mksquash command
  xCAT-server/lib/xcat/plugins/packimage.pm
Labels: component:test

#6779 Compare /install/postscripts/* on MN/SN and /xcatpost/* on CN and display the difference as part of the diskfull and diskless hierarchical provisionings.
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_hierarchy
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6784 Revert "Compare /install/postscripts/* on MN/SN and /xcatpost/* on CN and display the difference as part of the diskfull and diskless hierarchical provisionings."
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_hierarchy
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6782 Install xCAT-client before xCAT-probe package
  xCAT-probe/xCAT-probe.spec
Labels: component:xcatprobe

#6783 squashfs on RHEL8.2 hierarchy testcase debug
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6785 Add a separate test case to compare postscripts on MN and CN.
  xCAT-test/autotest/bundle/rhels_ppcle_daily.bundle
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_daily.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
  xCAT-test/autotest/bundle/sles_ppcle_daily.bundle
  xCAT-test/autotest/bundle/sles_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/sles_x86_daily.bundle
  xCAT-test/autotest/bundle/sles_x86_weekly.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
  xCAT-test/autotest/testcase/installation/compare_postscripts
Labels: component:test, test:testcase_added

#6789 Add getadapter to xCAT readdoc
  docs/source/advanced/networks/getadapter.rst
  docs/source/advanced/networks/index.rst
  docs/source/conf.py
Labels: component:xcatd, type:documentation

#6791 Remove the RC checking for the file removal command.
  xCAT-test/autotest/testcase/installation/compare_postscripts
Labels: component:test
