Repository xcat2/xcat-core, pull requests merged in 2020-05, with the labels that each got.

#6687 Testcase and genimage fixes for squashfs
  xCAT-server/share/xcat/netboot/sles/dracut_033/xcatroot
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:os_provision, component:test

#6690 Do not use modinfo to test module availability
  xCAT-server/share/xcat/netboot/fedora/dracut_009/xcatroot
  xCAT-server/share/xcat/netboot/rh/dracut/xcatroot
  xCAT-server/share/xcat/netboot/rh/dracut_033/xcatroot
  xCAT-server/share/xcat/netboot/rh/dracut_047/xcatroot
  xCAT-server/share/xcat/netboot/sles/dracut_033/xcatroot
  xCAT-server/share/xcat/netboot/ubuntu/dracut/xcatroot
Labels: component:os_provision

#6691 Add output verification to kdump testcase
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6694 Remove ldd messages from ubuntu genimage command
  xCAT-server/share/xcat/netboot/ubuntu/genimage
Labels: component:os_provision

#6695 Remove squashfs testcases from Ubuntu regression bundles
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
Labels: component:test

#6696 Discover Dell Switch via switchdiscover command
  perl-xCAT/xCAT/data/switchinfo.pm
  xCAT-server/lib/xcat/plugins/switchdiscover.pm
Labels: component:discovery

#6692 Added check for 'stable' flag via the command ${script} go-xcat --xcat-version=stable to install the latest version.
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#6698 Ubuntu support for squashfs
  xCAT-server/share/xcat/netboot/ubuntu/genimage
Labels: component:os_provision

#6699 Revert "Remove squashfs testcases from Ubuntu regression bundles"
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
Labels: component:test

#6688 Use XML::LibXML::Simple instead of XML::Simple
  xCAT-server/sbin/xcatd
  xCAT-server/xCAT-server.spec
Labels: component:xcatd

#6684 Use ext4 filesystem instead of ext3 when formatting node partitions
  docs/source/advanced/hamn/setup_ha_mgmt_node_with_shared_data.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/cfg_partition.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/enable_localdisk.rst
  xCAT-server/share/xcat/install/SL/compute.tmpl
  xCAT-server/share/xcat/install/centos/all.tmpl
  xCAT-server/share/xcat/install/centos/iscsi.tmpl
  xCAT-server/share/xcat/install/centos/storage.tmpl
  xCAT-server/share/xcat/install/centos/xen.tmpl
  xCAT-server/share/xcat/install/debian/compute.tmpl
  xCAT-server/share/xcat/install/esx/esx.tmpl
  xCAT-server/share/xcat/install/fedora/compute.ppc64.tmpl
  xCAT-server/share/xcat/install/fedora/compute.tmpl
  xCAT-server/share/xcat/install/fedora/iscsi.tmpl
  xCAT-server/share/xcat/install/fedora/service.tmpl
  xCAT-server/share/xcat/install/rh/compute.ppc64.tmpl
  xCAT-server/share/xcat/install/rh/compute.tmpl
  xCAT-server/share/xcat/install/rh/iscsi.tmpl
  xCAT-server/share/xcat/install/rh/kvm.tmpl
  xCAT-server/share/xcat/install/rh/service.ppc64.tmpl
  xCAT-server/share/xcat/install/rh/service.tmpl
  xCAT-server/share/xcat/install/rh/storage.tmpl
  xCAT-server/share/xcat/install/scripts/pre.rh
  xCAT-server/share/xcat/install/scripts/pre.rh.rhels7
  xCAT-server/share/xcat/install/scripts/pre.ubuntu
  xCAT/postscripts/setupscratch
Labels: component:os_provision

#6703 Spec file fix for XML::LibXML
  xCAT-server/xCAT-server.spec
Labels: component:xcatd

#6701 Remove duplicates: post_host from restapi/service/cases0 and lskitcom…
  xCAT-test/autotest/testcase/lskitcomp/case0
  xCAT-test/autotest/testcase/restapi/service/cases0
Labels: component:test

#6706 Speedup execution of go-xcat testcases
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6707 Remove doc file no longer referenced
  docs/source/QA/makehosts_qa.rst
Labels: type:documentation

#6712 Remove quotes XCATSERVER from xcatinfo
  xCAT/postscripts/xcatdsklspost
Labels: component:postscripts

#6708 Clarify Network Interface doc
  docs/source/guides/admin-guides/manage_clusters/common/deployment/network/cfg_network_ethernet_nic.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/diskful/customize_image/network/cfg_network_adapter.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/network/cfg_network_adapter.rst
Labels: type:documentation

#6716 Improve verification of kdump testcase
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6718 Improve genesistest.pl script
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test
