Repository xcat2/xcat-core, pull requests merged in 2020-09, with the labels that each got.

#6819 Improve genesistest script
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test

#6821 Retry rpower boot command
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:test

#6822 Add extra output to confignetwork testcase
  xCAT-test/autotest/testcase/confignetwork/cases0
Labels: component:test

#6824 Add extra debug output to confignetwork script
  xCAT/postscripts/nicutils.sh
Labels: component:network, component:test

#6823 Verify nbk kernel file is present before defaulting to use it
  docs/source/advanced/hierarchy/define_service_nodes.rst
  xCAT-server/lib/xcat/plugins/destiny.pm
Labels: component:hierarchy

#6829 More debug output for rpower testcases
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:test

#6826 Add extra debug output to nicutils script
  xCAT/postscripts/nicutils.sh
Labels: component:test

#6825 Improve genesistest script(2)
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test

#6830 Revert "Add extra debug output to nicutils script"
  xCAT/postscripts/nicutils.sh
Labels: component:test

#6838 Move the REST bundle after updatenode test cases.
  xCAT-test/autotest/bundle/rhels_ppcle_daily.bundle
Labels: component:test

#6836 Add perl to the rhels8 pkglist
  xCAT-server/share/xcat/install/centos/compute.centos8.pkglist
  xCAT-server/share/xcat/install/rh/compute.rhels8.pkglist
  xCAT-server/share/xcat/install/rh/service.rhels8.pkglist
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.ppc64le.pkglist
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.x86_64.pkglist
Labels: component:os_provision, rh8
