Repository xcat2/xcat-core, pull requests merged in 2020-03, with the labels that each got.

#6599 Support multiple options for nicextraparams
  docs/source/guides/admin-guides/manage_clusters/common/deployment/network/cfg_network_extra_param.rst
  docs/source/guides/admin-guides/references/man5/nics.5.rst
  docs/source/guides/admin-guides/references/man7/group.7.rst
  docs/source/guides/admin-guides/references/man7/node.7.rst
  perl-xCAT/xCAT/Schema.pm
  xCAT/postscripts/nicutils.sh
  xCAT/postscripts/xcatlib.sh
Labels: component:postscripts

#6607 Use retry_install.sh instead of rinstall for go-xcat testcases
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6615 Remove migration testcases from weekly SLES bundle
  xCAT-test/autotest/bundle/sles_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/sles_x86_weekly.bundle
Labels: component:migration, component:test

#6616 modify rmimage_diskless test cases
  xCAT-test/autotest/testcase/rmimage/case0
Labels: component:test

#6619 Add VM memory display to rpower testcase
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:test

#6620 Modify mysqlsetup scripts on rhels7.7
  xCAT-client/bin/mysqlsetup
Labels: component:os_provision

#6621 Move 2.15.1 release date
  docs/source/overview/_files/2.15.x.csv
Labels: component:packaging

#6622 Merge from master to 2.15 branch for 2.15.1 release. (2)
  docs/source/overview/_files/2.15.x.csv
  xCAT-client/bin/mysqlsetup
  xCAT-test/autotest/bundle/sles_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/sles_x86_weekly.bundle
  xCAT-test/autotest/testcase/rmimage/case0
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:packaging

#6627 Failed to set hostname on sle15 statelite compute node
  xCAT-server/share/xcat/netboot/sles/dracut_033/xcat-prepivot.sh
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_nfs
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_ramdisk
Labels: component:os_provision

#6623 Minor documentation fixes: spelling, grammar; configib indentation
  docs/source/advanced/domain_name_resolution/domain_name_resolution.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/network/cfg_network_extra_param.rst
  xCAT/postscripts/configib
Labels: type:documentation

#6626 go-xcat testcase enhancements
  xCAT-test/autotest/testcase/commoncmd/retry_install.sh
  xCAT-test/autotest/testcase/go_xcat/case3
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:test

#6630 Bump up VM disk space for some regression tests
  xCAT-test/autotest/testcase/installation/setup_vm
  xCAT-test/autotest/testcase/rmimage/case0
Labels: component:test

#6632 RHEL8 disk partition template
  xCAT-server/share/xcat/install/scripts/pre.rhels8
Labels: component:os_provision

#6631 mkdef manpage new example
  docs/source/guides/admin-guides/references/man1/mkdef.1.rst
  xCAT-client/pods/man1/mkdef.1.pod
Labels: type:documentation

#6635 Size flag error when partitioning RHEL8
  xCAT-server/share/xcat/install/scripts/pre.rhels8
Labels: component:os_provision

#6636 Partitioning of disk too large
  xCAT-server/share/xcat/install/scripts/pre.rhels8
Labels: component:os_provision

#6639 Remove debug output from kdump testcase
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6638 Testcase debug for rmimage_diskless
  xCAT-test/autotest/testcase/rmimage/case0
Labels: component:test

#6643 Revert "Remove perl-IO-Stty requirement from xCAT spec"
  xCAT/xCAT.spec
  xCATsn/xCATsn.spec
Labels: component:packaging

#6644 Diskless kdump testcase debug
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6647 Additional packages for Ubuntu go-xcat testcases
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6645 Do not hide output of apt-key add
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#6649 Replace sources.list file for go-xcat testcase on Ubuntu
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6654 Power off compute node before rinstall in kdump testcase
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6655 Throw away confusing zypper message
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#6656 Add go-xcat testcases to Ubuntu daily bundles
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
Labels: component:test
