Repository xcat2/xcat-core, pull requests merged in 2020-10, with the labels that each got.

#6846 Fix restapi_list_groups: The command was in TWO lines, not ONE.
  xCAT-test/autotest/testcase/restapi/cases0
Labels: component:restapi, component:test

#6840 Remove experimental warnings of using given-when and smartmatch.
  xCAT-server/lib/perl/xCAT/OPENBMC.pm
  xCAT-server/lib/xcat/plugins/kvm.pm
  xCAT-server/lib/xcat/plugins/openbmc.pm
Labels: component:openbmc, component:virtualization

#6853 Replace No-Match by No-match for correct regex comparison
  xCAT-test/autotest/testcase/restapi/cases0
Labels: component:restapi, component:test

#6831 Improve genesistest script(3)
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test

#6786 Formatting and default stanza doc improvements
  docs/source/guides/admin-guides/references/man5/xcatstanzafile.5.rst
  xCAT-client/pods/man5/xcatstanzafile.5.pod
Labels: type:documentation

#6809 Move debug link from Connections
  docs/source/troubleshooting/index.rst
Labels: type:documentation

#6854 Get the correct path for nice command
  xCAT-server/share/xcat/netboot/add-on/statelite/rc.statelite.ppc.redhat
  xCAT/postscripts/getcredentials.awk
  xCAT/postscripts/getpostscript.awk
  xCAT/postscripts/startsyncfiles.awk
Labels: component:os_provision, component:postscripts

#6857 Add cpio command as required for xCAT-client packages
  xCAT-client/xCAT-client.spec
Labels: component:xcatd

#6861 Only install bridge-utils on RH7.x
  xCAT-test/autotest/testcase/confignetwork/cases0
Labels: component:test

#6858 rinv dimm display for Power nodes
  xCAT-server/lib/xcat/plugins/ipmi.pm
Labels: component:hw_control

#6863 Use number of SDR records for SDR cache filename
  xCAT-server/lib/xcat/plugins/ipmi.pm
Labels: component:hw_control

#6865 Adding 2.16.1 release information
  docs/source/overview/_files/2.15.x.csv
  docs/source/overview/_files/2.16.x.csv
Labels: type:documentation
