Repository xcat2/xcat-core, pull requests merged in 2020-06, with the labels that each got.

#6723 Add namedincludes to site table documentation
  docs/source/guides/admin-guides/references/man5/site.5.rst
  perl-xCAT/xCAT/Schema.pm
Labels: type:documentation

#6722 Improve genimage message
  xCAT-server/share/xcat/netboot/ubuntu/genimage
Labels: component:os_provision

#6713 Add option to bmcdiscover command to change default BMC password
  docs/source/guides/admin-guides/references/man1/bmcdiscover.1.rst
  xCAT-client/pods/man1/bmcdiscover.1.pod
  xCAT-server/lib/xcat/plugins/bmcdiscover.pm
  xCAT-server/share/xcat/scripts/BMC_change_password.sh
Labels: component:discovery, component:openbmc

#6717 Fix duplicate entries in the ifcfg files
  xCAT/postscripts/configeth
  xCAT/postscripts/configib
Labels: component:postscripts

#6720 Set UEFI filesystem to fat32
  docs/source/guides/admin-guides/manage_clusters/common/deployment/cfg_partition.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/raid_cfg.rst
  xCAT-server/share/xcat/install/scripts/pre.ubuntu
  xCAT-server/share/xcat/install/scripts/pre.ubuntu.ppc64
Labels: component:os_provision

#6725 Remove confignics from xCAT documentation
  docs/source/advanced/networks/infiniband/network_configuration.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/install_new_kernel.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/network/cfg_second_adapter.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/prepostscripts/post_script.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/diskful/customize_image/network/cfg_second_adapter.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/diskful/customize_image/network/index.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/network/cfg_second_adapter.rst
  docs/source/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/network/index.rst
  xCAT/postscripts/configib
  xCAT/postscripts/confignics
  xCAT/postscripts/cumulusztp
Labels: component:postscripts, type:documentation, type:usability

#6726 test: remove imgexport -v test case
  xCAT-test/autotest/testcase/imgexport/cases0
Labels: component:test

#6728 Flush out repomd.xml
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6730 Adding 2.16.x release information
  docs/source/overview/_files/2.16.x.csv
  docs/source/overview/xcat2_release.rst
Labels: type:documentation

#6732 Flush out deps repomd.xml
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6734 Testcase fixes
  xCAT-test/autotest/testcase/migration/sles_migration
  xCAT-test/autotest/testcase/nodeset/cases0
  xCAT-test/autotest/testcase/xcat_inventory/cases.common
Labels: component:test

#6733 Add no-cache option to go-xcat testcases
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6735 Merge from master to 2.16 branch for 2.16.0 release. (1)
  xCAT-test/autotest/testcase/go_xcat/case3
  xCAT-test/autotest/testcase/migration/sles_migration
  xCAT-test/autotest/testcase/nodeset/cases0
  xCAT-test/autotest/testcase/xcat_inventory/cases.common
Labels: component:packaging

#6738 Retry go-xcat installation, if first attemp fails
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6741 Use absolute path for lsxcatd in testcase
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6731 test: remove imgimport -v test case
  xCAT-test/autotest/testcase/imgimport/cases0
Labels: component:test

#6729 xcattest: proper replace vars in test cases
  xCAT-test/xcattest
Labels: component:test

#6743 More improvements to go-xcat testcases
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6747 Improvements to go-xcat testcase
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6750 More improvements to go-xcat testcases
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6749 imgimport/imgexport better messages and option handling
  docs/source/guides/admin-guides/references/man1/imgexport.1.rst
  docs/source/guides/admin-guides/references/man1/imgimport.1.rst
  xCAT-client/pods/man1/imgexport.1.pod
  xCAT-client/pods/man1/imgimport.1.pod
  xCAT-server/lib/xcat/plugins/imgport.pm
Labels: component:obj_db_cmds

#6753 go-xcat testcase output fix
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test
