Repository xcat2/xcat-core, pull requests merged in 2020-02, with the labels that each got.

#6559 Remove stty command from Expect process
  xCAT-server/lib/xcat/plugins/onie.pm
  xCAT-server/lib/xcat/plugins/pdu.pm
  xCAT-server/share/xcat/scripts/configBNT
  xCAT-server/share/xcat/scripts/configonie
Labels: component:hw_control, component:parallel_cmds, cumulus

#6554 Update xcattest man page with missing options and descriptions
  docs/source/guides/admin-guides/references/man1/xcattest.1.rst
  xCAT-test/pods/man1/xcattest.1.pod
Labels: component:test, type:documentation

#6560 kdump testcase enhancements3
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6564 Remove : from BMC_change_password script usage
  xCAT-server/share/xcat/scripts/BMC_change_password.sh
Labels: component:openbmc

#6569 modify checking from sles to sle
  xCAT-server/share/xcat/install/scripts/post.xcat
Labels: component:os_provision

#6571 More kdump testcase debug
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6575 IC922 node support for bmcdiscover and bmcsetup
  xCAT-genesis-scripts/usr/bin/bmcsetup
  xCAT-genesis-scripts/usr/bin/getipmi
  xCAT-server/lib/xcat/plugins/bmcdiscover.pm
Labels: component:openbmc

#6580 Modify mysqlsetup scripts to support Mariadb for SLE15 x86_64 hierarchy system
  xCAT-client/bin/mysqlsetup
Labels: component:database

#6581 Add iso id for CentOS 8.1
  perl-xCAT/xCAT/data/discinfo.pm
Labels: component:os_provision

#6584 Display boot params during diskless_kdump testcase
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6585 Initial testcase for go-xcat devel from repo
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6589 Missing end statement in testcase
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6590 Disable firewalld on rhels8 compute node
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.ppc64le.postinstall
  xCAT-server/share/xcat/netboot/rh/compute.rhels8.x86_64.postinstall
Labels: component:os_provision

#6591 Remove the space between with and out to get without.
  docs/source/advanced/networks/infiniband/mlnxofed_ib_install_preparation.rst
Labels: type:documentation

#6592 More go-xcat testcases and add to daily bundle
  xCAT-test/autotest/bundle/rhels_ppcle_daily.bundle
  xCAT-test/autotest/bundle/sles_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test, test:testcase_added

#6594 Add go-xcat testcases to x86 daily regression bundles
  xCAT-test/autotest/bundle/rhels_x86_daily.bundle
  xCAT-test/autotest/bundle/sles_x86_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
Labels: component:test

#6595 Improve install script and testcases
  xCAT-test/autotest/bundle/rhels_ppcle_daily.bundle
  xCAT-test/autotest/bundle/rhels_x86_daily.bundle
  xCAT-test/autotest/bundle/sles_ppcle_daily.bundle
  xCAT-test/autotest/bundle/sles_x86_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
  xCAT-test/autotest/testcase/commoncmd/retry_install.sh
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6598 Config network doc correction
  docs/source/guides/admin-guides/manage_clusters/common/deployment/network/cfg_network_ethernet_nic.rst
Labels: type:documentation

#6597 Install repoquery for go-xcat testcases
  xCAT-server/share/xcat/tools/go-xcat
  xCAT-test/autotest/testcase/commoncmd/retry_install.sh
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test
