Repository xcat2/xcat-core, pull requests merged in 2020-04, with the labels that each got.

#6652 More disk space needed for regression VMs
  xCAT-test/autotest/testcase/installation/setup_vm
Labels: component:test

#6660 Fewer install retries for go-xcat testcases on Ubuntu
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6661 Retry rpower command in testcases
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:test

#6659 go-xcat stderr messages to discard for SLES installation
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#6665 Do not reprovision SN for go-xcat testcases on Ubuntu
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6662 linux_diskless_kdump testcase typo
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: component:test

#6668 go-xcat testcase on Ubuntu to accept default package installation
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#6675 Testcase improvements
  xCAT-test/autotest/testcase/commoncmd/retry_install.sh
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test

#6667 Fix automatically finding unlocked user slots
  xCAT-genesis-scripts/usr/bin/bmcsetup
Labels: priority:high

#6640 Service node doc typo
  docs/source/advanced/hierarchy/define_service_nodes.rst
Labels: type:documentation

#6676 `makehosts` command failed to add nicalias regular expression to the `/etc/hosts`
  xCAT-server/lib/xcat/plugins/hosts.pm
Labels: component:obj_db_cmds

#6677 Fix squashfs flags for centos
  docs/source/guides/admin-guides/references/man1/packimage.1.rst
  xCAT-client/pods/man1/packimage.1.pod
  xCAT-server/lib/xcat/plugins/packimage.pm
Labels: component:os_provision

#6674 Verify second parameter to rcons is a host
  xCAT-client/bin/rcons
Labels: component:console

#6682 Add two testcases to test squashfs diskless mount
  xCAT-test/autotest/bundle/rhels_ppcle_daily.bundle
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_daily.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
  xCAT-test/autotest/bundle/sles_ppcle_daily.bundle
  xCAT-test/autotest/bundle/sles_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/sles_x86_daily.bundle
  xCAT-test/autotest/bundle/sles_x86_weekly.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: test:testcase_added

#6683 Make sure squashfs-tools installed on Ubuntu for squashfs testcase
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6680 Use overlay mount type for squashfs diskless images
  xCAT-server/share/xcat/netboot/fedora/dracut_009/xcatroot
  xCAT-server/share/xcat/netboot/rh/dracut/xcatroot
  xCAT-server/share/xcat/netboot/rh/dracut_033/xcatroot
  xCAT-server/share/xcat/netboot/rh/dracut_047/xcatroot
  xCAT-server/share/xcat/netboot/sles/dracut_033/xcatroot
  xCAT-server/share/xcat/netboot/ubuntu/dracut/xcatroot
Labels: component:os_provision

#6685 Make sure squashfs installed on SLES for squashfs testcase
  xCAT-server/lib/xcat/plugins/packimage.pm
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6686 Testcase and packimage fixes for squashfs
  xCAT-server/lib/xcat/plugins/packimage.pm
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test
