Repository xcat2/xcat-core, pull requests merged in 2021-11, with the labels that each got.

#7061 Change uefi to not do elilo for network discovery boot
  xCAT-server/lib/xcat/plugins/mknb.pm
Labels: component:discovery

#7063 Fix man page formatting for makentp
  docs/source/guides/admin-guides/references/man1/makentp.1.rst
  xCAT-client/pods/man1/makentp.1.pod
Labels: type:documentation

#7065 Adding 2.16.3 release information
  docs/source/overview/_files/2.16.x.csv
Labels: type:documentation

#7068 Add Rocky to migration testcases
  xCAT-test/autotest/testcase/migration/redhat_migration
Labels: component:test

#7071 syslog postscript check for config files
  xCAT/postscripts/syslog
Labels: component:postscripts

#7069 Display console log entries when genesis nodeset testcases fail
  docs/source/guides/admin-guides/manage_clusters/ppc64le/index.rst
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test
