Repository xcat2/xcat-core, pull requests merged in 2021-05, with the labels that each got.

#6962 Docs improvements
  docs/source/guides/admin-guides/manage_clusters/common/deployment/cfg_partition.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/driver_update_disk.rst
  docs/source/guides/admin-guides/references/man5/bootparams.5.rst
  docs/source/guides/admin-guides/references/man5/openbmc.5.rst
  docs/source/guides/admin-guides/references/man7/group.7.rst
  docs/source/guides/admin-guides/references/man7/node.7.rst
  perl-xCAT/xCAT/Schema.pm
Labels: type:documentation

#6965 Extend timeout for xcatd
  xCAT-server/etc/init.d/xcatd.service
Labels: component:xcatd

#6963 Regression testcase improvements
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6964 Use ip instead of deprecated netstat
  docs/source/guides/admin-guides/references/man8/makenetworks.8.rst
  xCAT-client/pods/man8/makenetworks.8.pod
  xCAT-server/lib/xcat/plugins/networks.pm
  xCAT-test/autotest/bundle/rhels_ppc_daily.bundle
  xCAT-test/autotest/bundle/rhels_ppcle_daily.bundle
  xCAT-test/autotest/bundle/rhels_x86_daily.bundle
  xCAT-test/autotest/bundle/sles_ppcle_daily.bundle
  xCAT-test/autotest/bundle/sles_x86_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_x86_daily.bundle
Labels: component:network

#6968 Exclude processing host entries for makenetworks
  xCAT-server/lib/xcat/plugins/networks.pm
Labels: component:network

#6969 Recognize Cumulus bin file correctly on RHEL 8.x
  xCAT-server/lib/xcat/plugins/copycds.pm
Labels: component:os_provision

#6972 Support Oracle Linux in SN_setup_case testcase
  xCAT-test/autotest/testcase/installation/SN_setup_case
Labels: component:test

#6973 Testcase install of squashfs for Oracle Linux
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:test

#6977 Fix xdcp man page formatting
  docs/source/guides/admin-guides/references/man1/xdcp.1.rst
  xCAT-client/pods/man1/xdcp.1.pod
Labels: type:documentation

#6978 Add timeout to confignetwork testcases
  xCAT-test/autotest/testcase/confignetwork/cases0
Labels: component:test

#6982 Extract full version information
  xCAT-client/bin/mysqlsetup
Labels: component:database

#6983 Use non-interactive flag when calling zypper install
  xCAT-test/autotest/testcase/migration/sles_migration
Labels: component:test

#6984 Merge from master to 2.16 branch for 2.16.2 release. (2)
  xCAT-client/bin/mysqlsetup
  xCAT-test/autotest/testcase/migration/sles_migration
Labels: component:packaging

#6985 Use correct substring operator in migration testcase
  xCAT-test/autotest/testcase/migration/sles_migration
Labels: component:test

#6986 Update the 2.16.2 release date to 5-25-2021
  docs/source/overview/_files/2.16.x.csv
Labels: component:packaging
