Repository xcat2/xcat-core, pull requests merged in 2021-07, with the labels that each got.

#6998 Redact passwords in log files
  xCAT-server/lib/perl/xCAT/xcatd.pm
  xCAT-server/sbin/xcatd
Labels: component:xcatd

#7005 Return the correct network mask by matching the netname exactly in nicutils.sh
  xCAT/postscripts/nicutils.sh
Labels: component:network, component:postscripts

#6999 Doc updates for MariaDB and mypostscript.tmpl
  docs/source/advanced/hierarchy/databases/mysql_install.rst
  docs/source/guides/admin-guides/manage_clusters/common/deployment/prepostscripts/post_script.rst
Labels: type:documentation

#7004 Add Rocky Linux 8.4 support
  perl-xCAT/xCAT/ProfiledNodeUtils.pm
  perl-xCAT/xCAT/Schema.pm
  perl-xCAT/xCAT/Utils.pm
  perl-xCAT/xCAT/data/discinfo.pm
  xCAT-server/lib/perl/xCAT/Postage.pm
  xCAT-server/lib/perl/xCAT/SvrUtils.pm
  xCAT-server/lib/xcat/plugins/anaconda.pm
  xCAT-server/lib/xcat/plugins/geninitrd.pm
  xCAT-server/lib/xcat/plugins/imgcapture.pm
  xCAT-server/lib/xcat/plugins/imgport.pm
  xCAT-server/lib/xcat/plugins/ontap.pm
  xCAT-server/lib/xcat/plugins/route.pm
  xCAT-server/share/xcat/install/rocky/all.pkglist
  xCAT-server/share/xcat/install/rocky/all.tmpl
  xCAT-server/share/xcat/install/rocky/compute.pkglist
  xCAT-server/share/xcat/install/rocky/compute.rocky8.pkglist
  xCAT-server/share/xcat/install/rocky/compute.rocky8.tmpl
  xCAT-server/share/xcat/install/rocky/compute.tmpl
  xCAT-server/share/xcat/install/rocky/iscsi.pkglist
  xCAT-server/share/xcat/install/rocky/iscsi.tmpl
  xCAT-server/share/xcat/install/rocky/storage.pkglist
  xCAT-server/share/xcat/install/rocky/storage.tmpl
  xCAT-server/share/xcat/install/rocky/xen.pkglist
  xCAT-server/share/xcat/install/rocky/xen.tmpl
  xCAT-server/share/xcat/netboot/rocky/compute.exlist
  xCAT-server/share/xcat/netboot/rocky/compute.pkglist
  xCAT-server/share/xcat/netboot/rocky/compute.rocky8.x86_64.exlist
  xCAT-server/share/xcat/netboot/rocky/compute.rocky8.x86_64.pkglist
  xCAT-server/share/xcat/netboot/rocky/compute.rocky8.x86_64.postinstall
  xCAT-server/share/xcat/netboot/rocky/dracut
  xCAT-server/share/xcat/netboot/rocky/dracut_033
  xCAT-server/share/xcat/netboot/rocky/dracut_047
  xCAT-server/share/xcat/netboot/rocky/genimage
  xCAT-server/share/xcat/netboot/rocky/geninitrd
  xCAT-server/share/xcat/netboot/rocky/kvm.exlist
  xCAT-server/share/xcat/netboot/rocky/kvm.pkglist
  xCAT-server/share/xcat/netboot/rocky/xen.exlist
  xCAT-server/share/xcat/netboot/rocky/xen.pkglist
Labels: component:os_provision

#7001 go-xcat provides correct versions of packages to be installed in the third column of display
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#7010 Support Rocky Linux on service nodes
  xCAT-server/lib/perl/xCAT/Template.pm
  xCAT-server/share/xcat/install/rocky/compute.rocky8.pkglist
  xCAT-server/share/xcat/install/rocky/compute.rocky8.tmpl
  xCAT-server/share/xcat/install/rocky/service.rocky8.pkglist
  xCAT-server/share/xcat/install/rocky/service.rocky8.tmpl
  xCAT-server/share/xcat/install/rocky/service.rocky8.x86_64.otherpkgs.pkglist
  xCAT-server/share/xcat/netboot/rocky/service.rocky8.x86_64.exlist
  xCAT-server/share/xcat/netboot/rocky/service.rocky8.x86_64.otherpkgs.pkglist
  xCAT-server/share/xcat/netboot/rocky/service.rocky8.x86_64.pkglist
  xCAT-server/share/xcat/netboot/rocky/service.rocky8.x86_64.postinstall
  xCAT-server/share/xcat/tools/go-xcat
  xCAT-test/autotest/testcase/installation/SN_setup_case
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_hierarchy
Labels: component:os_provision
