Repository xcat2/xcat-core, pull requests merged in 2021-12, with the labels that each got.

#7075 Testcase script needs to capture output and display using send_msg()
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test

#7076 Increase timeout for wait_nic_connect_intime in nicutils.sh from 40 seconds to 80
  xCAT/postscripts/nicutils.sh
Labels: component:postscripts, component:network

#7064 Fix litefile entries for osimages with groups
  xCAT-server/lib/xcat/plugins/litetree.pm
Labels: component:os_provision

#7078 Improve genesistest test script
  xCAT-test/autotest/testcase/genesis/genesistest.pl
Labels: component:test
