Repository xcat2/xcat-core, pull requests merged in 2022-11, with the labels that each got.

#7280 Revert "Make sure initd files are installed with xCAT-server"
  xCAT-server/xCAT-server.spec
Labels: component:packaging

#7279 Install initscripts RPM during xCAT install
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#7281 Free up disk space for regression test on SLES (3)
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_flat
Labels: component:test

#7282 Test lzma compression for genesis network boot
  xCAT-server/lib/xcat/plugins/mknb.pm
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
  xCAT-test/autotest/testcase/genesis/cases0
Labels: component:test, test:testcase_added

#7249 mknb: Correctly specify initrd file when generating netboot configs.
  xCAT-server/lib/xcat/plugins/mknb.pm
Labels: component:discovery

#7286 Limit lzma testcase to run only on EL8 family of OSes
  xCAT-test/autotest/testcase/genesis/cases0
Labels: component:test

#7241 Support module installation on RHEL8
  docs/source/guides/admin-guides/manage_clusters/common/deployment/additionalpkg/nonubuntu_os_pkg.rst
  docs/source/guides/admin-guides/references/man1/xcattest.1.rst
  xCAT-test/autotest/bundle/rhels_ppcle_weekly.bundle
  xCAT-test/autotest/bundle/rhels_x86_weekly.bundle
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_flat_modules_and_groups
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat_modules_and_groups
  xCAT-test/pods/man1/xcattest.1.pod
  xCAT-test/xcattest
  xCAT/postscripts/ospkgs
Labels: type:documentation, component:os_provision, test:testcase_added

#7287 Minor documentation updates
  docs/source/guides/admin-guides/references/man1/rspconfig.1.rst
  docs/source/guides/admin-guides/references/man1/xcattest.1.rst
  perl-xCAT/xCAT/Zone.pm
  xCAT-client/pods/man1/rspconfig.1.pod
  xCAT-test/pods/man1/xcattest.1.pod
Labels: type:documentation

#7289 Update diskinfo of Rocky Linux 8.7
  perl-xCAT/xCAT/data/discinfo.pm
Labels: component:os_provision

#7292 Fix 'quiet' spelling
  xCAT-server/lib/xcat/plugins/nodestat.pm
Labels: component:obj_db_cmds
