Repository xcat2/xcat-core, pull requests merged in 2022-10, with the labels that each got.

#7259 Fix Perl error in AAsn.pm
  xCAT-server/lib/xcat/plugins/AAsn.pm
Labels: component:hierarchy

#7262 Sign RH9 dependency RPMs with SHA256
  builddep.sh
Labels: component:os_provision

#7265 Add testcase to verify xCAT public keys
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#7267 Affirmative reply to uninstall command
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#7269 Use apt-key on Ubunty system to verify signature key during regression test
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#7270 Free up disk space for regression test on SLES
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
Labels: component:test

#7272 Add more time for node to reboot
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_flat
Labels: component:test

#7271 Better way to check OS in testcase
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#7274 Run date +"%Y" > /tmp/currentyear in makentp_extntpserver_value
  xCAT-test/autotest/testcase/makentp/cases0
Labels: component:test

#7273 Use correct string compare operator for testcase
  xCAT-test/autotest/testcase/go_xcat/case3
Labels: component:test

#7275 Spelling correction in chvm output
  xCAT-server/lib/xcat/plugins/kvm.pm
Labels: component:virtualization, type:usability

#7276 Make sure initd files are installed with xCAT-server
  xCAT-server/xCAT-server.spec
Labels: component:packaging

#7278 Free up disk space for regression test on SLES (2)
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_flat
Labels: component:test
