Repository xcat2/xcat-core, pull requests merged in 2022-03, with the labels that each got.

#7122 Remove failing makedns tests from ubuntu_ppcle_daily.bundle
  xCAT-test/autotest/bundle/ubuntu_ppcle_daily.bundle
Labels: component:test

#7123 Increate diskspace for regression VM
  xCAT-test/autotest/testcase/installation/setup_vm
Labels: component:test

#7124 Detect SLES15 when running detect_dhcpd xcatprobe
  xCAT-probe/subcmds/detect_dhcpd
Labels: component:dhcp, component:xcatprobe

#7126 Turn off DNSSEC on Service Node for bind 9.16.6
  xCAT-server/sbin/makenamed.conf
Labels: component:dns

#7127 Simple replacement of ~= by =~ for a number of testcases
  xCAT-test/autotest/testcase/addkit/cases0
  xCAT-test/autotest/testcase/chkkitcomp/cases0
  xCAT-test/autotest/testcase/osdeploy/cases0
  xCAT-test/autotest/testcase/xcat_inventory/cases.common
Labels: component:test

#7129 Return correct return code from enablekdump postscript
  xCAT/postscripts/enablekdump
  xCAT/postscripts/xcatlib.sh
Labels: component:postscripts

#7130 Turn off DNSSEC on Management Node for bind 9.16.6
  xCAT-server/lib/xcat/plugins/ddns.pm
Labels: component:dns

#7131 Make setuppostbootscripts script recognize runbootscripts attribute
  docs/source/guides/admin-guides/manage_clusters/common/deployment/prepostscripts/post_script.rst
  xCAT/postscripts/setuppostbootscripts
Labels: type:documentation, component:postscripts

#7120 Fix nicutils.sh for non english locales
  xCAT/postscripts/nicutils.sh
Labels: component:network
