Repository xcat2/xcat-core, pull requests merged in 2022-04, with the labels that each got.

#7135 Allow SLES15 node on Power to reboot in standby mode
  xCAT-server/lib/xcat/plugins/grub2.pm
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_flat
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_hierarchy
Labels: component:os_provision, component:test

#7140 Operator corrections and test case improvement
  xCAT-test/autotest/testcase/addkitcomp/case0
  xCAT-test/autotest/testcase/copycds/cases0
  xCAT-test/autotest/testcase/mkdef/cases0
  xCAT-test/autotest/testcase/nodeset/cases2
  xCAT-test/autotest/testcase/rbeacon/cases0
  xCAT-test/autotest/testcase/rflash/rflash_openbmc.0
  xCAT-test/autotest/testcase/updatenode/cases0
  xCAT-test/autotest/testcase/xcat_inventory/cases.diff
  xCAT-test/autotest/testcase/xcatd/case0
  xCAT-test/autotest/testcase/xcatstanzafile/cases0
  xCAT-test/autotest/testcase/xdsh/cases0
Labels: component:test

#7133 kdump on Power RHEL 8.5
  docs/source/guides/admin-guides/manage_clusters/common/deployment/enable_kdump.rst
  xCAT-test/autotest/testcase/kdump/linux_diskless_kdump
Labels: type:documentation, component:test

#7141 Add diskless package lists for Ubuntu20
  xCAT-server/share/xcat/netboot/ubuntu/compute.ubuntu20.04.ppc64el.pkglist
  xCAT-server/share/xcat/netboot/ubuntu/compute.ubuntu20.04.ppc64le.pkglist
  xCAT-server/share/xcat/netboot/ubuntu/compute.ubuntu20.04.x86_64.pkglist
Labels: component:os_provision

#7143 Python3 for openbmc-py RPM
  xCAT-openbmc-py/lib/python/agent/agent.py
  xCAT-openbmc-py/lib/python/agent/client.py
  xCAT-openbmc-py/lib/python/agent/common/exceptions.py
  xCAT-openbmc-py/lib/python/agent/common/rest.py
  xCAT-openbmc-py/lib/python/agent/common/task.py
  xCAT-openbmc-py/lib/python/agent/common/utils.py
  xCAT-openbmc-py/lib/python/agent/hwctl/beacon.py
  xCAT-openbmc-py/lib/python/agent/hwctl/bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/eventlog.py
  xCAT-openbmc-py/lib/python/agent/hwctl/flash.py
  xCAT-openbmc-py/lib/python/agent/hwctl/inventory.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_beacon.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_bmcconfig.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_eventlog.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_flash.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_inventory.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_sensor.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc/openbmc_setboot.py
  xCAT-openbmc-py/lib/python/agent/hwctl/openbmc_client.py
  xCAT-openbmc-py/lib/python/agent/hwctl/power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish/redfish_power.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish/redfish_setboot.py
  xCAT-openbmc-py/lib/python/agent/hwctl/redfish_client.py
  xCAT-openbmc-py/lib/python/agent/hwctl/sensor.py
  xCAT-openbmc-py/lib/python/agent/hwctl/setboot.py
  xCAT-openbmc-py/lib/python/agent/tests/unit/test_hwctl/test_redfish_client.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/openbmc.py
  xCAT-openbmc-py/lib/python/agent/xcatagent/redfish.py
  xCAT-openbmc-py/xCAT-openbmc-py.spec
  xCAT-test/autotest/testcase/pythonsupport/cases0
Labels: component:packaging, component:test, test:testcase_added, component:openbmc

#7144 Initial template and pkg files for RHEL9
  xCAT-server/share/xcat/install/rh/compute.rhels9.pkglist
  xCAT-server/share/xcat/install/rh/compute.rhels9.tmpl
  xCAT-server/share/xcat/install/rh/service.rhels9.pkglist
  xCAT-server/share/xcat/install/rh/service.rhels9.ppc64le.otherpkgs.pkglist
  xCAT-server/share/xcat/install/rh/service.rhels9.tmpl
  xCAT-server/share/xcat/install/rh/service.rhels9.x86_64.otherpkgs.pkglist
  xCAT-server/share/xcat/netboot/rh/compute.rhels9.ppc64le.exlist
  xCAT-server/share/xcat/netboot/rh/compute.rhels9.ppc64le.postinstall
  xCAT-server/share/xcat/netboot/rh/compute.rhels9.x86_64.exlist
  xCAT-server/share/xcat/netboot/rh/compute.rhels9.x86_64.pkglist
  xCAT-server/share/xcat/netboot/rh/compute.rhels9.x86_64.postinstall
  xCAT-server/share/xcat/netboot/rh/service.rhels9.ppc64le.exlist
  xCAT-server/share/xcat/netboot/rh/service.rhels9.ppc64le.otherpkgs.pkglist
  xCAT-server/share/xcat/netboot/rh/service.rhels9.ppc64le.pkglist
  xCAT-server/share/xcat/netboot/rh/service.rhels9.ppc64le.postinstall
  xCAT-server/share/xcat/netboot/rh/service.rhels9.x86_64.exlist
  xCAT-server/share/xcat/netboot/rh/service.rhels9.x86_64.otherpkgs.pkglist
  xCAT-server/share/xcat/netboot/rh/service.rhels9.x86_64.pkglist
  xCAT-server/share/xcat/netboot/rh/service.rhels9.x86_64.postinstall
Labels: component:os_provision

#7137 rh/genimage: update systemd list to include Rocky Linux
  xCAT-server/share/xcat/netboot/rh/genimage
Labels: component:os_provision

#7145 Add openbmc Python installation test on SN
  xCAT-test/autotest/testcase/commoncmd/retry_install.sh
  xCAT-test/autotest/testcase/installation/SN_install_openbmc_py.sh
  xCAT-test/autotest/testcase/installation/SN_setup_case
  xCAT-test/autotest/testcase/pythonsupport/cases0
Labels: component:test

#7146 Prevent comment character removal from /etc/rsyslog.conf
  xCAT/postscripts/syslog
Labels: component:postscripts

#7148 Add positive reply to yum install of openbmc-py
  xCAT-test/autotest/testcase/pythonsupport/cases0
Labels: component:test

#7150 Update docs for openbmc-py installation
  docs/source/references/coral/cluster_mgmt/scalability/python/index.rst
  docs/source/references/coral/cluster_mgmt/scalability/python/install/rpm.rst
Labels: type:documentation

#7151 Improve xcattest check:output syntax checking
  xCAT-test/autotest/testcase/UT_openbmc/rspconfig_cases0
  xCAT-test/autotest/testcase/gettab/cases0
  xCAT-test/autotest/testcase/xcattest/cases0
  xCAT-test/xcattest
Labels: component:test

#7152 Add more wait time after reboot of SLES15.3
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_hierarchy
Labels: component:test

#7153 Fixed failing `gettab_err` and `rpower_off` testcases after enhanced xcattest syntax checking was enabled
  xCAT-test/autotest/testcase/gettab/cases0
  xCAT-test/autotest/testcase/rpower/cases0
Labels: component:test

#7155 Speedup statelite testcase execution
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_nfs
  xCAT-test/autotest/testcase/installation/reg_linux_statelite_installation_hierarchy_by_ramdisk
Labels: component:test

#7156 Fixed testcase check:output typos
  xCAT-test/autotest/testcase/addkit/cases0
  xCAT-test/autotest/testcase/chkkitcomp/cases0
  xCAT-test/autotest/testcase/dockercommand/cases0
  xCAT-test/autotest/testcase/lsvm/cases0
  xCAT-test/autotest/testcase/pdu/case0
  xCAT-test/autotest/testcase/rpower/cases0
  xCAT-test/autotest/testcase/xcat_inventory/cases.common
Labels: component:test

#7157 More time needed for ol7 to reboot
  xCAT-test/autotest/testcase/installation/reg_linux_diskfull_installation_hierarchy
Labels: component:test
