Repository xcat2/xcat-core, pull requests merged in 2023-01, with the labels that each got.

#7291 Ignore lzma dependency on Oracle
  xCAT-test/autotest/testcase/genesis/cases0
Labels: component:test

#7310 Testcase enhancements
  xCAT-test/autotest/testcase/installation/reg_linux_diskless_installation_flat
  xCAT-test/autotest/testcase/pythonsupport/cases0
Labels: component:test

#7311 Eliminate some duplicate output lines from xcatprobe osdeploy
  xCAT-probe/subcmds/osdeploy
Labels: component:xcatprobe

#7314 Initial Alma Linux support
  perl-xCAT/xCAT/Schema.pm
  perl-xCAT/xCAT/Utils.pm
  xCAT-server/lib/perl/xCAT/Postage.pm
  xCAT-server/lib/perl/xCAT/SvrUtils.pm
  xCAT-server/lib/perl/xCAT/Template.pm
  xCAT-server/lib/xcat/plugins/anaconda.pm
  xCAT-server/lib/xcat/plugins/geninitrd.pm
  xCAT-server/lib/xcat/plugins/imgcapture.pm
  xCAT-server/lib/xcat/plugins/imgport.pm
  xCAT-server/lib/xcat/plugins/ontap.pm
  xCAT-server/lib/xcat/plugins/route.pm
  xCAT-server/share/xcat/install/alma/compute.alma8.pkglist
  xCAT-server/share/xcat/install/alma/compute.alma8.tmpl
  xCAT-server/share/xcat/install/alma/service.alma8.pkglist
  xCAT-server/share/xcat/install/alma/service.alma8.tmpl
  xCAT-server/share/xcat/install/alma/service.alma8.x86_64.otherpkgs.pkglist
  xCAT-server/share/xcat/netboot/alma/compute.alma8.x86_64.exlist
  xCAT-server/share/xcat/netboot/alma/compute.alma8.x86_64.pkglist
  xCAT-server/share/xcat/netboot/alma/compute.alma8.x86_64.postinstall
  xCAT-server/share/xcat/netboot/alma/dracut
  xCAT-server/share/xcat/netboot/alma/dracut_033
  xCAT-server/share/xcat/netboot/alma/dracut_047
  xCAT-server/share/xcat/netboot/alma/genimage
  xCAT-server/share/xcat/netboot/alma/geninitrd
  xCAT-server/share/xcat/netboot/alma/kvm.exlist
  xCAT-server/share/xcat/netboot/alma/kvm.pkglist
  xCAT-server/share/xcat/netboot/alma/service.alma8.x86_64.exlist
  xCAT-server/share/xcat/netboot/alma/service.alma8.x86_64.otherpkgs.pkglist
  xCAT-server/share/xcat/netboot/alma/service.alma8.x86_64.pkglist
  xCAT-server/share/xcat/netboot/alma/service.alma8.x86_64.postinstall
  xCAT-server/share/xcat/netboot/alma/xen.exlist
  xCAT-server/share/xcat/netboot/alma/xen.pkglist
Labels: component:os_provision

#7315 Enable go-xcat to insall xCAT on Alma Linux
  xCAT-server/share/xcat/install/scripts/post.rhels8
  xCAT-server/share/xcat/netboot/rh/genimage
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat

#7319 Update docs for password encryption
  docs/source/guides/admin-guides/manage_clusters/ppc64le/configure/password.rst
  docs/source/guides/get-started/quick_start.rst
  perl-xCAT/xCAT/Schema.pm
  xCAT-test/autotest/testcase/passwd/case0
Labels: type:documentation, component:test

#7320 Use xCAT::Utils:CheckVersion to compare BIND versions without using version.pm
  perl-xCAT/xCAT/Utils.pm
  xCAT-server/lib/xcat/plugins/ddns.pm
Labels: component:packaging

#7322 Improve packimage time zone handling with no exlist
  xCAT-server/lib/xcat/plugins/packimage.pm
Labels: component:os_provision

#7323 Install initscripts RPM during xCAT install(2)
  xCAT-server/share/xcat/tools/go-xcat
Labels: component:go-xcat
